.serpControls {
  background:#ececec;
  border-top:1px solid #d5d5d5;
  border-radius:2px;
  box-shadow:inset 0 1px 4px rgba(0, 0, 0, 0.065), 0 1px 0 rgba(255, 255, 255, 0.9);
  font-size:12px;
  height:26px;
  margin-bottom:14px;
  margin-right:151px;
  position:relative;
  padding:4px 5px
}
.serpControls-tabs {
  float:right
}
.serpControls .tabbutton-icon {
  background-image:url(http://ostrovok.ru/st/gm/img/hotel_icons-0520f9db951e2c7ae6df6735a24dd379d4339011.png);
  background-repeat:no-repeat;
  display:inline-block;
  filter:alpha(opacity=55);
  height:16px;
  opacity:.55;
  position:relative;
  vertical-align:top;
  width:16px
}
.serpControls-hotelsicon {
  background-position:-61px -335px
}
.serpControls-mapicon {
  background-position:-17px -334px;
  height:17px;
  margin-top:-1px
}
.tabbutton-checked .serpControls-hotelsicon {
  background-position:-82px -335px
}
.tabbutton-checked .serpControls-mapicon {
  background-position:-38px -334px
}
.serpControls .tabbutton-checked .tabbutton-icon{
  opacity:1;
  filter:none
}
.serpControls .serp-fav-counter {
  left:100%;
  margin-left:11px;
  position:absolute
}
.serp-fav-counter {
  border-bottom:1px dotted #f7c4c5;
  color:#fc5252;
  cursor:pointer;
  font:11px/13px"Open Sans", Verdana, sans-serif;
  -webkit-font-smoothing:antialiased;
  margin:0 5px 0 0;
  outline:0;
  text-transform:uppercase;
  vertical-align:middle;
  white-space:nowrap
}
.serp-fav-counter-disabled{
  padding-top:6px
}
.serp-fav-counter-disabled {
  border-bottom:0;
  color:#999;
  cursor:auto
}

.tabbutton {
  background:#f9f9f9;
  border:0;
  border-radius:2px;
  box-shadow:inset 0 -1px 0 #b9b9b9;
  color:#979797;
  cursor:pointer;
  display:inline-block;
  font-family:Arial, sans-serif;
  font-size:12px;
  line-height:16px;
  margin:0 .3ex;
  outline:0;
  overflow:hidden;
  padding:5px 8px 4px;
  text-shadow:0 0 1px #fff;
  text-transform:uppercase;
  background-image:-webkit-linear-gradient(top, white, #f8f8f8);
  background-image:-moz-linear-gradient(top, white, #f8f8f8);
  background-image:-o-linear-gradient(top, white, #f8f8f8);
  background-image:linear-gradient(to bottom, white, #f8f8f8)
}
.tabbutton-iconwrap {
  margin-right:.8ex
}
 .tabbutton-checked {
  cursor:default
}
.tabbutton-collapse-right {
  border-radius:2px 0 0 2px;
  margin-right:0
}
.tabbutton-collapse-left {
  border-radius:0 2px 2px 0;
  margin-left:0
}
.tabbutton-checked {
  color:#fff;
  text-shadow:0 1px 0 #365080;
  box-shadow:inset 0 1px 5px rgba(0, 0, 0, 0.5);
  background-color:#5881b5;
  background-image:-webkit-linear-gradient(top, #5881b5, #6796d3);
  background-image:-moz-linear-gradient(top, #5881b5, #6796d3);
  background-image:-o-linear-gradient(top, #5881b5, #6796d3);
  background-image:linear-gradient(to bottom, #5881b5, #6796d3)
}
.tabbutton-content {
  display:inline-block;
  vertical-align:top;
  zoom:1;
  height:16px
}
