<b:resource src="item.css"/>

<label class="serpfilter-amenities-item serpfilter-amenities-{name}">
  <input class="serpfilter-amenities-checkbox" type="checkbox" name="{name}"/><span class="serpfilter-amenities-icon"></span><span class="serpfilter-amenities-label">{title}</span>
</label>
