<b:resource src="filters.css" />

<div class="serpPage-extra">
  <!--{price}-->
  <!--{stars}-->
  <!--{rating}-->
  <!--{location}-->
  <!--{amenities}-->
  <!--{type}-->
  <!--{name}-->
  <!--{cities}-->
  <!--{discounts}-->
</div>
