<b:style src="footer.css"/>

<footer id="footer" class="glob-footer glob-block-pressed">
  <ul class="gf-list">
    <li><a href="http://ostrovok.ru/m/feedback/" target="_blank">{l10n:app.menu.feedback}</a></li>
    <li><a href="http://ostrovok.ru" target="_blank">{l10n:app.menu.full}</a></li>
  </ul>
  <span class="gf-copy">© 2010 – 2013 Ostrovok.ru</span>
</footer>
