<b:style src="header.css"/>

<header id="header" class="glob-header">
  <a href="/" class="logo-block">
     <h1 class="logo-image">Ostrovok.ru</h1>
  </a>
  <div class="gh-action">
    <a href="/m/" class="gh-link-item active"> <span class="gh-icon search"></span> {l10n:app.menu.search}</a>
    <a href="http://ostrovok.ru/m/login/" class="gh-link-item" target="_blank"> <span class="gh-icon login"></span> {l10n:app.menu.login}</a>
  </div>
</header>
