<b:style src="header.css"/>

<div class="header">
  <div class="header-inner">
    <div class="header-logo">
      <a class="header-logo-inner" href="/"><span class="header-logo-name"></span><span class="header-logo-title"></span>
      </a>
    </div>
    <div class="header-user">
      <div class="auth-container">
        <div class="auth"><span class="auth-button auth-button-register">{l10n:app.menu.signup}</span><span class="auth-button auth-button-login auth-button-grey">{l10n:app.menu.login}</span>
        </div>
      </div>
    </div>
  </div>
</div>
