{
  "create": {
    "appName": "app",
    "l10n": true,
    "path": {
      "type": "src/app/type",
      "typeIndex": "src/app/type.js",
      "module": "src/module"
    }
  },
  "server": {
    "port": 8003,
    "rewrite": {
      "path:^/api/(.*)$": "http://ostrovok.ru:80/api/$1 [P]",
      "path:^/eapi/(.*)$": "http://ostrohack.mojolicious.ru:80/api/$1 [P]"
    }
  },
  "build": {
    "file": "index.html",
    "output": "build"
  }
}