
  <b:resource src="item.css"/>

  <li class="hl-item">
      <a class="hl-rooms-link hotel-item" href="/m/rooms/special/513215875/2013-01-19/2013-01-21/2/" data-location="55.77368;37.49929">
          <img class="hi-hotel-thumb" width="90" height="90" src="{thumbnail_url}" alt="Кассадо Плаза"/>

          <div class="hi-hotel-desc">
              <h2 class="hi-hotel-name">{name}</h2>
              <p class="hi-hotel-meta">
                  <span class="hi-hotel-rating">★★★★</span>
                  <b class="hi-hotel-reviews-rating">рейтинг 6.2</b>
                  <em class="hi-hotel-price">от {price} руб.</em>
              </p>
              <small class="hi-hotel-address"><i class="hi-address-icon"></i>{address}</small>
              <span class="hi-hotel-distance"><i class="hi-hotel-distance-icon"></i> 7 км 489 м</span>
          </div>
      </a>
  </li>