<b:resource src="list.css"/>

<div class="serpfilter">
  <div class="serpfilter-contnet">
    <h4 class="serpfilter-title">Города региона</h4>
    <div{childNodesElement} class="serpfilter-cities-list" />
  </div>
</div>