<b:resource src="view.css"/>

<div class="serpfilter-name serpfilter">
  <div class="serpfilter-content">
    <input class="serpfilter-name-input" type="text" placeholder="{l10n:app.module.search.filters.name.placeholder}"/>
  </div>
</div>