<b:style src="imageList.css"/>

<b:include src="basis.ui.scroller.ScrollPanel" class="hotel-slider-imageList b-photogallery">
  <b:append ref="element">
    <a href="#prev" class="b-photogallery__left" event-click="scrollLeft"><i class="b-photogallery__nav-icon-overlay"></i><span class="b-photogallery__nav-icon"></span></a>
    <a href="#next" class="b-photogallery__right" event-click="scrollRight"><i class="b-photogallery__nav-icon-overlay"></i><span class="b-photogallery__nav-icon"></span></a>
 </b:append>
</b:include>