
  .debugPanel-button
  {  
    padding: 2px .6em;
    background: #EEE;
    margin-right: 2px;
    cursor: pointer;
  }
  .debugPanel-button:hover
  {
    background: #BBB;
    color: white;
  }
  .debugPanel-button__selected
  {
    background: gold;
    color: black;
  }