
  <b:resource src="list.css" />

  <div id="searchResult" class="state-{state}">
    
    <button event-click="page1">page1</button>
    <button event-click="page2">page2</button>
    <div class="loading-label">loading...</div>
    <div class="serpHotels">
      <div{childNodesElement} class="serpHotels-content ab-serp-hotels-list"></div>
    </div>
  </div>