
  <b:resource src="view.css" />

  <div style="overflow: hidden">
    <!--{header}-->
    <div class="page-content">
      <!--{filters}-->
      <div class="serpPage-main">
        <!--{toolbar}-->
        <!--{list}-->
      </div>
    </div>
  </div>