<b:resource src="item.css"/>

<a class="history-hotel external" href="{url}">
  <img class="history-hotel-image" width="80" height="80" src="{img}" alt="{title}"/>
  <h4 class="history-hotel-title">{title}</h4>
  <span class="stars stars-val-{star_rating} history-hotel-stars">
    <span class="stars-val"></span>
  </span>
  <div class="history-hotel-price">
    {l10n:app.module.morda.content.labelPriceFrom}
    &#32;
    <b class="history-hotel-price-value">{price}</b>
    &#32;
    {l10n:app.currency.label.rub}</div>
  <div class="history-hotel-info history-hotel-date">
    {dateAt}
  </div>
</a>
