.history-hotel {
  display: block;
  overflow: hidden;
  background: white;
  border-bottom: 1px solid #DDD;
  margin: 0px;
  font-size: 16px;
  letter-spacing: normal;
  position: relative;
  text-decoration: none;
  vertical-align: top;

}
.history-hotel-image {
  float: left;
  margin: 6px;
}
.history-hotel-title {
  color: #0074c5;
  -webkit-font-smoothing: antialiased;
  font-weight: normal;
  margin: 4px 0 0;
  word-spacing: 1px;
  line-height: 1.1em;
  font-size: 19px;
}
.history-hotel-price {
  bottom: 1px;
  color: #6d6c6c;
  font-size: 14px;
  padding: 0 6px 6px 0;
  position: absolute;
  bottom: 0;
  right: 0;
  text-transform: uppercase;

}
.history-hotel-price-value {
  color: #000;
  font-size: 24px;
  font-weight: 400;
}
.history-hotel-info {
  color: #798891;
  display:none;
  font-size:8px;
  position:absolute;
  text-transform:uppercase
}
.history-hotel-date {
  bottom:100%;
  margin-bottom:1px;
  right:0
}

.history-hotel-stars {
  margin-top: 5px;
  float: left;
}
.history-hotel .stars, .stars-val {
  height: 10px;
  display: inline-block;
}
.history-hotel .stars {
  position:relative;
  width:50px;
  height:9px;
  background:transparent url("http://ostrovok.ru/st/gm/img/sprites/serp-507d28376ec383ea986be9dbfc1e14773b704fd0.png") no-repeat 0 -393px;
  -webkit-background-size:196px 505px;
  background-size:196px 505px
}
.history-hotel .stars-val {
  position:absolute;
  top:0;
  left:0;
  width:50px;
  height:9px;
  background:transparent url("http://ostrovok.ru/st/gm/img/sprites/serp-507d28376ec383ea986be9dbfc1e14773b704fd0.png") no-repeat 0 -402px;
  -webkit-background-size:196px 505px;
  background-size:196px 505px;
  width:auto
}
.history-hotel .stars-val-10 .stars-val {
  width: 10px
}
.history-hotel .stars-val-20 .stars-val {
  width: 20px
}
.history-hotel .stars-val-30 .stars-val {
  width: 30px
}
.history-hotel .stars-val-40 .stars-val {
  width: 40px
}
.history-hotel .stars-val-50 .stars-val {
  width: 50px
}