<b:style src="list.css"/>

<div class="history">
  <h2 class="history-header">
    <a class="history-header-link external" href="/accounts/hotels_history/">{l10n:app.module.morda.content.title}</a></h2>
  <div class="history-list">
    <!--{childNodeHere}-->
  </div>
</div>
