.history {
  font-family: 'Open Sans', Verdana, sans-serif;
  margin: 1em 0;
}
.history-header {
  color: #798891;
  font: 400 20px/30px "Open Sans", Verdana, sans-serif;
  -webkit-font-smoothing:antialiased;
  margin: .4em 0;
  padding-top: 4em;
  text-align: center;
}
.history-header-link {
  color: #798891;
  display: inline-block;
  line-height: 29px;
  text-decoration: none;
}
.history-list {
  border-top: 1px solid #DDD;
}
