.history {
  font-family: 'Open Sans', Verdana, sans-serif;
  margin: 1em 0 0;
}
.history-header {
  color: #424d53;
  font: 400 20px/30px "Open Sans", Verdana, sans-serif;
  -webkit-font-smoothing:antialiased;
  margin: .6em 0 .8em;
  padding-top: .1em;
  text-align: center;
}
.history-header-link {
  color: #424d53;
  display: inline-block;
  line-height: 29px;
  text-decoration: none;
}
.history-list {
  border-top: 1px solid #DDD;
}
