
  <b:resource src="sortingButton.css" />

  <button class="sortbutton sortbutton-checkable sortbutton-{selected} sortbutton-{disabled}" event-click="select">
    <span class="sortbutton-iconwrap sortbutton-iconwrap-original"><ins class="sortbutton-icon serpControls-upicon"></ins></span>
    <span class="sortbutton-content sortbutton-content-original">
      {title}
    </span>
  </button>