.hotel-slider-image
{
  display: inline-block;
  margin-right: 10px;
}

.hotel-slider-image:last-child
{
  margin-right: 0;
}

.hotel-slider-image
{
  float: left;
}
.hotel-slider-image,
.hotel-slider-image img
{
  min-height: 100%;
}