<div>
  <div class="b-hotel-rooms-container">
    <div class="b-hotel-rooms" style="display: block; opacity: 1;">
      <!--{childNodesHere}-->
    </div>
  </div>  

  <p class="b-hotelpage__notice">
      <span class="b-hotelpage__price-details-guests-number">Все цены указаны для 2 взрослых и 1 ребёнка</span> <span class="b-hotelpage__price-details-period">при условии размещения на 1 ночь.</span>
  </p>
  <p class="b-hotel-rooms__final-price-tip">
      <span class="b-hotel-rooms__final-price-tip-check"></span>
      <strong class="b-hotel-rooms__final-price-tip-title">Это окончательные цены.</strong> Ostrovok.ru не возьмёт никаких дополнительных комиссий за бронирование.
  </p>      

  <div class="b-call-discount-banner">
    <p class="b-call-discount-banner__text">— Позвоните, и я помогу вам забронировать отель</p>
    <img class="b-call-discount-banner__img" src="http://ostrovok.ru/st/img/banners/pics/pic-ksu-70x66.png" alt="— Позвоните, и я помогу вам забронировать отель"/> 
    <b class="b-call-discount-banner__phone">
      +7 495 539-31-81
    </b>
  </div>
</div>