<b:resource src="form.css" />

<div class="giantform giantform-suggest_{loading}">
  <h1 class="giantform-title">{l10n:app.view.searchForm.title}</h1>
  
  <form class="giantform-form" event-submit="kill">
    <div class="giantform-destination">
      <!--{suggestions}-->
      <!--{destinationField}-->
      <label class="giantform-label giantform-destination-example" for="destination">{l10n:app.view.searchForm.labelQuestion} <span class="giantform-destination-example-apply pseudo" event-click="setExample">{l10n:app.view.searchForm.example}</span>, {l10n:app.view.searchForm.labelExample}.</label>
    </div>
    <div class="giantform-dates">
      <div class="giantform-check-in">
        <!--{arrivalField}-->
        <label class="giantform-label giantform-check-in-label" for="check-in">{l10n:app.view.searchForm.checkIn}</label>
      </div>
      <div class="giantform-dates-separator">–</div>
      <div class="giantform-check-out">
        <!--{departureField}-->
        <label class="giantform-label giantform-check-out-label" for="check-out">{l10n:app.view.searchForm.checkOut}</label>
      </div>
    </div>
    <div class="giantform-number">
      <div class="giantform-adults">
        <span class="numcontrol numcontrol-highlight">
          <!--{adultsField}-->
        </span>
        <label class="giantform-label giantform-adults-label" for="adults">{l10n:app.view.searchForm.labelAdults}</label>
      </div>
      <div class="giantform-number-separator">{l10n:app.view.searchForm.labelAnd}</div>
      <div class="giantform-children">
       <!--{childrenField}-->
       <label class="giantform-label giantform-children-label" for="children">{l10n:app.view.searchForm.labelChildren}</label>
     </div>
   </div>
   <!--{childrenAgeField}-->
   <!--{submitButton}-->
 </form>
</div>
