<b:include src="basis.ui.field.Text" no-style>
  <b:class ref="field" value="giantform-input giantform-adults-input giantform-children-input_{disabled}"/>
  <b:set-attr ref="field" name="event-click" value="open"/>
</b:include>