<b:resource src="view.css"/>

<div class="serpheader goog-scrollfloater">
  <div class="serpheader-inner">
    <div class="serpinfo">
      <div class="serpinfo-content">
        <div class="serptitle">
          <div class="serptitle-region">{l10n:app.module.search.module.header.findLabelFake}</div>
          <div class="serptitle-details"><span class="serptitle-details-query"><!--{settings}--></span><span class="serptitle-details-change pseudo" event-click="newSearch">{l10n:app.module.search.module.header.newSearch}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>