<b:resource src="view.css"/>

<div class="serpheader-inner">
  <div class="serpinfo">
    <div class="serpinfo-content">
      <div class="serptitle">
        <div class="serptitle-region">Найдено 67 отелей в Амстердаме, Нидерланды</div>
        <div class="serptitle-details"><span class="serptitle-details-query">для 2 взрослых и 1 ребенка с 4   по 8 марта</span><span class="serptitle-details-change pseudo">Новый поиск</span>
        </div>
      </div>
    </div>
  </div>
</div>
