<b:resource src="item.css"/>

<div class="serpfilter-type-item">
  <input id="type_{id}" class="serpfilter-type-checkbox" type="checkbox" name="{id}"/>
  <label for="type_{id}" class="serpfilter-type-label">{title}</label>
</div>
