<b:resource src="item.css"/>

<div class="serpfilter-type-item">
  <input id="type_{name}" class="serpfilter-type-checkbox" type="checkbox" name="{name}"/>
  <label for="type_{name}" class="serpfilter-type-label">{title}</label>
</div>
