<b:resource src="item.css" />

<div class="serp-hotel serp-hotel-available-few serp-hotel-never-booked">
  <div class="serp-hotel-desc">
    <div class="serp-hotel-amenities">
      <div class="serp-hotel-amenity serp-hotel-amenity-wifi">
        <p class="serp-hotel-amenity-tip">Wi-Fi в номерах</p>
      </div>
      <div class="serp-hotel-amenity serp-hotel-amenity-parking">
        <p class="serp-hotel-amenity-tip">Парковка</p>
      </div>
    </div>
    <span class="stars stars-val-50 serp-hotel-stars"><span class="stars-val"></span></span>
    <a class="serp-hotel-link external" href="#/hotel?id={id}">
      <div class="serp-hotel-thumb-container">
        <img class="serp-hotel-thumb" src="{thumbnail_url}" alt="{name}" />
      </div>
      <img class="serp-hotel-image hidden" src="{thumbnail_url_220}" />
      <div class="serp-hotel-image-arrow hidden" style="background-image: url({thumbnail_url_220});"></div>
      <h3 class="serp-hotel-title">{name}</h3>
    </a>
    <div class="serp-hotel-info">
      <span class="serp-hotel-location pseudo">На карте:</span>
      &#32;
      <span class="serp-hotel-location-address"><span class="serp-hotel-self">в центре Амстердама</span></span>
    </div>
    <!--{rating}-->
  </div>
  <div class="serp-hotel-price-container">
    <div class="serp-hotel-price">
      <span class="serp-hotel-price-value">{price}</span>
      &#32;
      <span class="serp-hotel-currency-container"><span class="serp-hotel-currency">руб.</span><span class="serp-hotel-nights">за 4 ночи</span></span>
    </div>
    <a class="button button-blue serp-hotel-button external" href="#/hotel?id={id}">
      Забронировать
    </a>
  </div>
  <div class="serp-hotel-like"></div>
</div>


<!--

<div class="serp-hotel serp-hotel-available-few serp-hotel-{is_golden}">
  <div class="serp-hotel-desc clearfix">
    <div class="serp-hotel-amenities">
      <div class="serp-hotel-amenity serp-hotel-amenity-wifi">
        <p class="serp-hotel-amenity-tip">Интернет в номере</p>
      </div>
      <div class="serp-hotel-amenity serp-hotel-amenity-breakfast">
        <p class="serp-hotel-amenity-tip">Бесплатный завтрак</p>
      </div>
    </div>
    <span class="stars stars-val-40 serp-hotel-stars"><span class="stars-val"></span></span>
    <a class="serp-hotel-link external" href="#/hotel?id={id}">
      <div class="serp-hotel-thumb-container">
        <img class="serp-hotel-thumb" src="{thumbnail_url}" alt="Кассадо Плаза"/>
      </div>
      <img class="serp-hotel-image hidden" src="{thumbnail_url_220}"/>
      <div class="serp-hotel-image-arrow hidden" style="background-image: url({thumbnail_url_220});"></div>
      <h3 class="serp-hotel-title">
        {name}
      </h3>
    </a>
    <div class="serp-hotel-info">
      <span class="serp-hotel-location pseudo">На карте:</span>
      <span class="serp-hotel-location-clip">
        <span class="serp-hotel-distance">7.5&nbsp;км.</span> 
        <span class="serp-hotel-self">от центра Москвы</span>
      </span>
    </div>
    <div class="serp-hotel-rating">
      Неплохой отель, <b class="serp-hotel-rating-value">6.2 из 10</b>
    </div>
    <div class="serp-hotel-last-booked">
      Бронировался более 25 раз за последнее время
    </div>
  </div>
  <div class="serp-hotel-price-container">
    <div class="serp-hotel-price">
      <span class="serp-hotel-price-value">{price}</span>
      <span class="serp-hotel-currency-container">
        <span class="serp-hotel-currency">руб.</span>
        <span class="serp-hotel-nights">за 1 ночь</span>
      </span>
    </div>
    <a class="button serp-hotel-button small external" href="#/hotel?id={id}">
      <b class="button-inner">
        <i class="button-text">Забронировать</i>
      </b>
    </a>
  </div>
  <div class="serp-hotel-like"></div>
</div>

-->