
  <b:resource src="list.css" />

  <div id="searchResult" class="state-{state}" style="overflow: hidden">
    <div class="loading-label">loading...</div>
    <div class="serpHotels">
      <div{childNodesElement} class="serpHotels-content ab-serp-hotels-list"></div>
    </div>
  </div>