
  <b:resource src="list.css" />

  <div class="serpHotels state-{state}">
    <div class="loading-label">loading...</div>
    <div{childNodesElement} class="serpHotels-content"></div>
  </div>
