
  <b:resource src="list.css" />

  <div class="serpPage-main">
    <!--{toolbar}-->
    <div class="serpHotels state-{state}">
      <div class="loading-label">loading...</div>
      <div{childNodesElement} class="serpHotels-content"></div>
    </div>
  </div>
