<b:resource src="view.css"/>

<div class="location">
  <div class="serpfilter-distance serpfilter serpfilter-{disabled}">
    <div class="serpfilter-content">
      <h4 class="serpfilter-title">{l10n:app.module.search.filters.location.title}</h4>
      <span class="serpfilter-input-container"><input type="text" class="serpfilter-input"/><span class="serpfilter-input-arrow"></span></span>
      &#32;
      {l10n:app.module.search.filters.location.label}
      <div class="serpfilter-slider"></div>
    </div>
  </div>
  <div class="minimap" style="">
    <div class="minimap-mapwrapper">
      <div class="minimap-map" style="background-color: rgb(229, 227, 223); overflow: hidden; -webkit-transform: translateZ(0);">
        <div style="position: absolute; left: 0px; top: 0px; overflow: hidden; width: 100%; height: 100%; z-index: 0;">
          <div style="position: absolute; left: 0px; top: 0px; overflow: hidden; width: 100%; height: 100%; z-index: 0;">
            <div style="position: absolute; left: 0px; top: 0px; z-index: 1; -webkit-transform-origin: 0px 0px; -webkit-transform: matrix(1, 0, 0, 1, 0, 0);">
              <div style="position: absolute; left: 0px; top: 0px; z-index: 0;">
                <div style="position: absolute; left: 0px; top: 0px; z-index: 1;">
                  <div style="width: 256px; height: 256px; -webkit-transform: translateZ(0); position: absolute; left: -26px; top: -175px;">
                    <img style="width: 256px; height: 256px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px;" src="http://mt1.googleapis.com/vt?lyrs=m@207663602&amp;src=apiv3&amp;hl=ru&amp;x=131&amp;y=83&amp;z=8&amp;apistyle=s.t%3A2%7Cs.e%3Al%7Cp.v%3Aoff&amp;s=Gali&amp;style=api%7Csmartmaps"
                    draggable="false"/>
                  </div>
                  <div style="width: 256px; height: 256px; -webkit-transform: translateZ(0); position: absolute; left: -26px; top: 81px;">
                    <img style="-webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; width: 256px; height: 256px;" src="http://mt1.googleapis.com/vt?lyrs=m@207667694&amp;src=apiv3&amp;hl=ru&amp;x=131&amp;y=84&amp;z=8&amp;apistyle=s.t%3A2%7Cs.e%3Al%7Cp.v%3Aoff&amp;s=Galil&amp;style=api%7Csmartmaps"
                    draggable="false"/>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div style="margin: 2px 5px 2px 2px; z-index: 1000000; position: absolute; left: 0px; bottom: 0px;">
            <a style="position: static; overflow: visible; float: none; display: inline;" target="_blank" href="http://maps.google.com/maps?ll=52.36729,4.8926&amp;z=8&amp;hl=ru" title="Нажмите, чтобы отобразить эту область в Картах Google">
              <div style="width: 62px; height: 24px; cursor: pointer;">
                <img style="position: absolute; left: 0px; top: 0px; width: 62px; height: 24px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px;" src="http://maps.gstatic.com/mapfiles/google_white.png" draggable="false"/>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="minimap-link">{l10n:app.module.search.filters.location.hint}</div>
  </div>
</div>