<b:resource src="view.css"/>

<div class="serpfilter-discount serpfilter serpfilter-{disabled}">
  <div class="serpfilter-content">
    <h4 class="serpfilter-title">{l10n:app.module.search.filters.discounts.title}</h4>
    <label class="serpfilter-discount-item">
      <input class="serpfilter-discount-checkbox" type="checkbox" disabled="{disabled}"/>
      <span class="serpfilter-discount-label">{l10n:app.module.search.filters.discounts.label}<span class="serpfilter-discount-hint">?<div class="serpfilter-discount-hint-text">{l10n:app.module.search.filters.discounts.hint}</div></span></span>
    </label>
  </div>
</div>
