<b:style src="item.css"/>
<label class="serpfilter-stars-label">
  {title}
  <input type="checkbox" class="serpfilter-stars-checkbox" checked="{selected}" disabled="{disabled}" event-change="check"/>
</label>