<div class="serpfilter-stars serpfilter">
  <div class="serpfilter-content">
    <h4 class="serpfilter-title">{l10n:app.module.search.filters.stars.title}</h4>
    <div{childNodesElement} class="serpfilter-stars-container clearfix">
    </div>
  </div>
</div>
