<b:resource src="item.css"/>

<a class="history-hotel external" href="{url}" target="_blank">
  <img class="history-hotel-image" width="80" height="80" src="{img}" alt="{title}"/><span class="stars  stars-val-{star_rating} history-hotel-stars"><span class="stars-val"></span></span>
  <h4 class="history-hotel-title">{title}</h4>
  <div class="history-hotel-price">{l10n:app.module.morda.content.labelPriceFrom} <b class="history-hotel-price-value">{price}</b> руб.</div>
  <div class="history-hotel-info history-hotel-date">{dateAt}</div>
  <div class="history-hotel-info history-hotel-urgency">{l10n:app.module.morda.content.labelViewed} {watchers} {l10n:app.module.morda.content.labelPeople}</div>
</a>
