<b:style src="list.css"/>

<div class="history">
  <h2 class="history-header">
    <a class="history-header-link external" href="/accounts/hotels_history/">{l10n:app.module.morda.content.title}</a>
    <div class="history-controls">
      <span class="history-control history-control-prev history-control-disabled">
        {l10n:app.module.morda.content.back}
      </span>
      <span class="history-control history-control-next">{countMore} {l10n:app.module.morda.content.more}</span>
    </div>
  </h2>
  <div class="history-list">
    <!--{childNodeHere}-->
  </div>
</div>
