.serp-hotel {
  display: block;
  overflow: hidden;
  background: white;
  border-bottom: 1px solid #DDD;
  margin: 0px;
  font-size: 16px;
  letter-spacing: normal;
  position: relative;
  text-decoration: none;
  vertical-align: top;

}
.serp-hotel-image {
  float: left;
  margin: 6px;
}
.serp-hotel-title {
  color: #0074c5;
  -webkit-font-smoothing: antialiased;
  font-weight: normal;
  margin: 4px 0 0;
  word-spacing: 1px;
  line-height: 1.1em;
  font-size: 19px;
  color: #4d5f69;
}
.serp-hotel-price {
  display: block;
  position: absolute;
  left: 92px;
  bottom: 5px;
  color: #6d6c6c;
  font-size: 160%;
  text-transform: uppercase;
  color: #f09179;
  line-height: 1;
}
.serp-hotel-price-value {
  color: #000;
  font-size: 100%;
  font-weight: 400;
  color: #f09179;
}
.serp-hotel-info {
  color: #798891;
  display: none;
  font-size: 8px;
  position: absolute;
  text-transform: uppercase;
}
.serp-hotel-date {
  bottom:100%;
  margin-bottom:1px;
  right:0
}
