<b:resource src="item.css" />

<a class="serp-hotel external" href="#/hotel?hotelId={id}&amp;arrivalDate={arrivalDate}&amp;departureDate={departureDate}&amp;room1_numberOfAdults={adults}&amp;room1_numberOfChildren={children}">
  <img class="serp-hotel-image" width="80" height="80" src="{thumbnail_url_80}" alt="{name}"/>
  <h4 class="serp-hotel-title">{name}</h4>
  <!--{star_rating}-->
  <div class="serp-hotel-price">
    <b class="serp-hotel-price-value">{price}</b>
    &#32;
    {l10n:app.currency.label.rub}
  </div>
</a>
