.serp-hotel-userrating {
  color: #E0E0E0;
  position: absolute;
  bottom: 0px;
  right: 5px;
  line-height: 1.1;
  font-size: 80%;
  text-align: center;
}
.serp-hotel-userrating-value {
  font-weight:700;
  display: block;
  font-size: 240%;
}
