.serp-hotel-rating
{
  padding: 1em 0.5em;
  color: #666;
}

.serp-hotel-rating-stars
{
  font-size: 1.4em;
  padding: 6px 0 10px;
  display: block;
}

.serp-hotel-rating-value
{
  font-size: 2em;
  vertical-align: middle;  
}

.serp-hotel-rating-verbose
{
  font-size: 1.2em;
  margin-left: .5em;
  vertical-align: middle;
}
.serp-hotel-rating-stars .icon-star
{
  color: #57636f;
}

.serp-hotel-rating-stars_10 .icon-star:nth-child(2),
.serp-hotel-rating-stars_10 .icon-star:nth-child(3),
.serp-hotel-rating-stars_10 .icon-star:nth-child(4),
.serp-hotel-rating-stars_10 .icon-star:nth-child(5),
.serp-hotel-rating-stars_20 .icon-star:nth-child(3),
.serp-hotel-rating-stars_20 .icon-star:nth-child(4),
.serp-hotel-rating-stars_20 .icon-star:nth-child(5),
.serp-hotel-rating-stars_30 .icon-star:nth-child(4),
.serp-hotel-rating-stars_30 .icon-star:nth-child(5),
.serp-hotel-rating-stars_40 .icon-star:nth-child(5)
{
  display: none;
}