<b:style src="star_rating.css" />

<span class="serp-hotel-rating-stars serp-hotel-rating-stars_{star_rating}">
  <span class="icon-star"/>
  <span class="icon-star"/>
  <span class="icon-star"/>
  <span class="icon-star"/>
  <span class="icon-star"/>
</span>