<b:style src="view.css"/>
<span>
  <span class="b-search-info__guests-number">{l10n:app.ext.settings.for} {adultsCount} {adultsText} <span class="b-search-info__details_children {hasChildren}">{l10n:app.ext.settings.and}&nbsp;{childrenCount} {childrenText}</span></span>
  <span class="dates"> {l10n:app.ext.settings.from} {arrivalDate} {arrivalMonth} {l10n:app.ext.settings.till} {departureDate} {departureMonth}</span>
</span>