<b:resource src="list.css"/>

<div class="serpfilter">
  <div class="serpfilter-contnet">
    <div class="serpfilter-amenities">
      <h4 class="serpfilter-title">Дополнительно в отеле</h4>
      <!--{childNodesHere}-->
    </div>
  </div>
</div>