.hotel-header
{
  position: relative;
}
.hotel-header-back a
{
  position: absolute;
  top: 1em;
  left: 1em;
  color: white !important;
  text-align: center;
  font-size: 1.5em;
}
.hotel-header-back a:hover
{
  color: white !important; 
}