<b:style src="header.css"/>
<b:define name="hasChildren" type="bool"/>

<div class="hotel-header">
  <div class="hotel-header-back"><a event-click="showHotels" href="#{viewallHref}"></a></div>
</div>

