<b:style src="infoPage.css"/>

<div class="hotel-info-page hotel-info-page_{unselected}">
  <div class="hotel-info-page-title"><span class="hotel-info-page-back" event-click="back">back</span>{title}</div>
  <div{childNodesElement} class="hotel-info-page-content"/>
</div>