<b:style src="menu.css"/>
<div class="hotel-menu">
  <div class="hotel-menu-button" event-click="description">{l10n:app.module.hotel.description}</div>
  <div class="hotel-menu-button" event-click="rooms">{l10n:app.module.hotel.rooms}</div>
</div>