
.hotel-menu
{
  padding: 0.5em;
}

.hotel-menu-button
{
  background: #dde2e6;
  border: 1px solid #b3b3b3;
  padding: 1.2em;
  border-radius: 2px;
  text-align: center;
  font-size: 1.8em;
  color: #666 !important;
  margin-bottom: 0.5em;
  cursor: pointer;
  text-decoration: none;
  display: block;
}

.hotel-menu-button:hover
{
  color: #666 !important;
}
