<b:style src="menu.css"/>
<div class="hotel-menu">
  <div class="hotel-menu-button" event-click="description">{l10n:app.module.hotel.description}</div>
  <div class="hotel-menu-button" event-click="rooms">{l10n:app.module.hotel.rooms}</div>
  <a href="http://maps.apple.com/?q={address}" target="_blank" class="hotel-menu-button">{l10n:app.module.hotel.map}</a>
</div>