.hotel-rating
{
  padding: 1em 0.5em;
  color: #666;
}

.hotel-rating-value
{
  font-size: 2em;
  vertical-align: middle;  
}

.hotel-rating-verbose
{
  font-size: 1.2em;
  margin-left: .5em;
  vertical-align: middle;
}