<b:style src="rating.css"/>
<b:define name="has_rating" type="bool"/>

<div class="hotel-rating {has_rating}">
  <span class="hotel-rating-stars hotel-rating-stars_{stars}">
    <span class="icon-star"/>
    <span class="icon-star"/>
    <span class="icon-star"/>
    <span class="icon-star"/>
    <span class="icon-star"/>
  </span>
  <span class="hotel-rating-value">{total}</span> <span class="hotel-rating-verbose">{total_verbose}</span>
</div>
