.hotel
{
  font-family: mobota, Tahoma;
}
.hotel-state_processing .hotel-wrapper
{
  visibility: hidden;
}
.hotel-title
{
  background: #57636f;
  color: white;
  
  text-align: center;
  
  font-family: mobota, Arial;
  padding: 1em 0;
  line-height: 1;
}
.hotel-name
{
  font-size: 1.5em;  
  font-weight: bold;
}
.hotel-address
{
  margin-top: 0.7em;
  color: #EEE;
  font-size: 85%;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, .5);
}
.hotel-slider
{
  height: 150px;
}

.hotel-slider .b-photogallery__right,
.hotel-slider .b-photogallery__left
{
  display: none !important;
}

.hotel.pageSelected .hotel-content
{
  visibility: hidden;
  display: none;
}