<b:style src="view.css"/>
<b:style src="mobota.css"/>

<div class="hotel hotel-state_{state} {pageSelected}">
  <div class="hotel-wrapper">
    <div class="hotel-content">
      <!--{header}-->
      <div class="hotel-title">{name}</div>
      <div class="hotel-slider">
        <!--{slider}-->
      </div>
      <!--{rating}-->
      <!--{menu}-->
    </div>
    <!--{infoPages}-->  
  </div>
</div>

