<b:style src="footer.css"/>

<div class="footer">
  <div class="footer-inner">
    <div class="footer-copyright"><i></i><small>© 2010 — 2013</small>
    </div>
    <div class="footer-nav">
      <ul class="footer-nav-top">
        <li class="footer-nav-item footer-nav-item-about">
          <a class="external" href="http://ostrovok.ru/about/" target="_blank">{l10n:app.menu.company}</a>
        </li>
        <li class="footer-nav-item footer-nav-item-press">
          <a class="external" href="http://ostrovok.ru/press/press-about/" target="_blank">{l10n:app.menu.press}</a>
        </li>
        <li class="footer-nav-item footer-nav-item-vacancies">
          <a class="external" href="http://ostrovok.ru/about/jobs/" target="_blank">{l10n:app.menu.jobs}</a>
        </li>
        <li class="footer-nav-item footer-nav-item-contacts">
          <a class="external" href="http://ostrovok.ru/about/contacts/" target="_blank">{l10n:app.menu.contacts}</a>
        </li>
        <li class="footer-nav-item footer-nav-item-feedback">
          <a class="external" href="http://ostrovok.ru/feedback/" target="_blank">{l10n:app.menu.feedback}</a>
        </li>
        <li class="footer-nav-item footer-nav-item-email">
          <a class="external" href="mailto:hi@ostrovok.ru">hi@ostrovok.ru</a>
        </li>
        <li class="footer-nav-item footer-nav-item-skype">
          <a class="external" title="Skype" href="skype:help.ostrovok.ru?call"></a>
        </li>
        <li class="footer-nav-item footer-nav-item-eng"><a class="external" href="/about/en/"><i></i>About us</a></li>
      </ul>
      <ul class="footer-nav-bottom">
        <li class="footer-partnership">
          <a class="external" href="http://ostrovok.ru/partners/" target="_blank"><i></i> {l10n:app.menu.partners}</a>
        </li>
        <li class="footer-destinations">
          <a class="external" href="http://ostrovok.ru/hotel/" target="_blank">{l10n:app.menu.popular}</a>
        </li>
        <li class="footer-mobileapp">
          <a class="js_mobile_version_url external" href="http://ostrovok.ru/mobile/" target="_blank">{l10n:app.menu.mobile}</a>
        </li>
      </ul>
    </div>
    <div class="footer-social"><small>{l10n:app.menu.wesocial}</small>
      <ul class="footer-social-list">
        <li class="footer-facebook" title="Facebook">
          <a class="external" href="http://www.facebook.com/Ostrovok.ru" target="_blank" rel="external nofollow"></a>
        </li>
        <li class="footer-twitter" title="Twitter">
          <a class="external" href="http://twitter.com/ostrovok_ru" target="_blank" rel="external nofollow"></a>
        </li>
        <li class="footer-vkontakte" title="ВКонтакте">
          <a class="external" href="http://vkontakte.ru/ostrovok_ru" target="_blank" rel="external nofollow"></a>
        </li>
        <li class="footer-googleplus" title="Google+">
          <a class="external" href="https://plus.google.com/107328746176137705114/" target="_blank" rel="external nofollow publisher"></a>
        </li>
        <li class="footer-rss" title="RSS">
          <a class="external" href="http://ostrovok.ru/blog/?feed=rss2" target="_blank"></a>
        </li>
      </ul>
    </div>
  </div>
</div>
