<b:style src="header.css"/>

<div class="header">
  <div class="header-inner">
    <div class="header-logo">
      <a class="header-logo-inner" href="/"><span class="header-logo-name"></span><span class="header-logo-title"></span>
      </a>
    </div>
    <div class="header-user">
      <div class="auth-container">
        <div class="auth"><span class="auth-button auth-button-register">{l10n:app.menu.signup}</span><span class="auth-button auth-button-login auth-button-grey">{l10n:app.menu.signin}</span>
        </div>
      </div>
    </div>
    <div class="header-nav">
      <ul>
        <li class="header-nav-item">
          <a class="header-nav-item-link external" href="http://ostrovok.ru/faq/#category=1" target="_blank">{l10n:app.menu.faq}</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-item-link external" href="http://ostrovok.ru/about/" target="_blank">{l10n:app.menu.about}</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-item-link external" href="http://ostrovok.ru/feedback/" target="_blank">{l10n:app.menu.contact}</a>
        </li>
      </ul>
    </div>
  </div>
</div>
