<div class="language-select-option header-select-option goog-option-{selected}" event-click="click">
  <span class="language-select-option-code header-select-option-code"></span>
  <span class="language-select-option-name header-select-option-name">{caption}</span>
</div>