<b:resource src="view.css"/>

<div class="serpfilter-rating serpfilter">
  <div class="serpfilter-content">
    <h4 class="serpfilter-title">{l10n:app.module.search.filters.rating.title}</h4>
    <span class="serpfilter-input-container"><input type="text" class="serpfilter-input"/><span class="serpfilter-input-arrow"></span></span>{l10n:app.module.search.filters.rating.label}
    <div class="serpfilter-slider"></div>
  </div>
</div>
