<b:resource src="view.css"/>

<div class="serpPage-main serpPage-main_state-{state}">
  <div class="serpControls">
    <div class="buttonspane serpControls-tabs">
      <!--<button class="tabbutton tabbutton-checkable tabbutton-checked tabbutton-collapse-right" role="button" style="-webkit-user-select: none;" aria-pressed="true" tabindex="0"><span class="tabbutton-iconwrap tabbutton-iconwrap-original"><ins class="tabbutton-icon serpControls-hotelsicon"></ins></span><span class="tabbutton-content tabbutton-content-original">Отели</span>
      </button>
      <button class="tabbutton tabbutton-checkable tabbutton-collapse-left" role="button" style="-webkit-user-select: none;" tabindex="0"><span class="tabbutton-iconwrap tabbutton-iconwrap-original"><ins class="tabbutton-icon serpControls-mapicon"></ins></span><span class="tabbutton-content tabbutton-content-original">Карта</span>
      </button>-->
    </div>
    <!--{stared}-->
    <!--{sorting}-->
  </div>
  <div class="serpPage-main__loading"><span>Терпение, мой друг...</span></div>
  <!--{list}-->
</div>