<b:style src="popup.css"/>

<div class="search-form-popup {selected} {disabled}">
  <span class="search-form-popup-close" event-click="close">×</span>  
  <div class="search-form-popup-layout">
    <div{content} class="search-form-content">
      <!--{childNodesHere}-->
    </div>
  </div>
</div>