<b:style src="header.css"/>
<b:define name="hasChildren" type="bool"/>

<div class="b-heading m-disabled b-heading_state_search-form">
  <div class="b-heading__search-wrapper b-heading__search-wrapper_overflowable" style="text-indent: 0px;">
    <div class="b-search-info">
      <div class="b-search-info__inner clearfix">
        <div class="heading_requestParams_searchInfo_requestDetails">
          <a class="b-search-info__serp-link" title="" event-click="showHotels">Посмотреть все отели</a>
          <div class="b-search-info__details"> 
            <!--{settings}-->
            <span class="b-search-info__change-conditions heading_requestParams_changeLink">Изменить условия</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>