<b:style src="rating.css"/>
<div class="l-photos-reviews-right">
  <div class="b-hotel-rating">
    <div class="b-hotel-rating__inner clearfix">
      <div class="b-hotel-rating__value">{total} <small class="b-hotel-rating__value-title">баллов</small></div>
      <div class="b-hotel-rating__verbal"> <span class="b-hotel-rating__verbal-inner">{total_verbose}</span></div>
      <ul class="b-hotel-rating__detailed">
        <li class="b-hotel-rating__parameter b-hotel-rating__parameter_odd">Чистота<b class="b-hotel-rating__parameter-val">9,7</b>
        </li>
        <li class="b-hotel-rating__parameter">Комфорт<b class="b-hotel-rating__parameter-val">9,7</b>
        </li>
        <li class="b-hotel-rating__parameter b-hotel-rating__parameter_odd">Расположение<b class="b-hotel-rating__parameter-val">9,7</b>
        </li>
        <li class="b-hotel-rating__parameter">Услуги<b class="b-hotel-rating__parameter-val">9,6</b>
        </li>
        <li class="b-hotel-rating__parameter b-hotel-rating__parameter_odd">Персонал<b class="b-hotel-rating__parameter-val">9,7</b>
        </li>
        <li class="b-hotel-rating__parameter">Цена/качество<b class="b-hotel-rating__parameter-val">10,0</b>
        </li>
      </ul>
    </div> 
    <small class="b-hotel-rating__count">
      Оценка основана на анализе 22 отзывов, оставленных гостями отеля в интернете.
    </small>
  </div>
</div>