.l-photos-reviews-right {
  width:210px;
  float:right
}
.b-hotel-rating {
  margin-bottom:30px;
  font-family:Arial, sans-serif
}
.b-hotel-rating__inner {
  position:relative;
  padding:4px 0;
  color:#353535;
  cursor:default;
  background:#e8ebef;
  -moz-border-radius:2px;
  border-radius:2px;
  -moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(255, 255, 255, 0.9);
  box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(255, 255, 255, 0.9)
}
.b-hotel-rating__value {
  width:50px;
  display:inline-block;
  vertical-align:middle;
  font-weight:bold;
  font-size:28px;
  -webkit-font-smoothing:antialiased;
  text-align:center;
  border-right:1px solid #d3d8dd
}
.b-hotel-rating__value-title {
  display:block;
  font-weight:normal;
  font-size:8px;
  text-transform:uppercase
}
.b-hotel-rating__verbal {
  width:143px;
  display:inline-block;
  vertical-align:middle;
  margin-left:4px
}
.b-hotel-rating__verbal-inner {
  font-weight:bold;
  font-size:17px;
  line-height:20px;
  -webkit-font-smoothing:antialiased;
  color:#365f97;
  border-bottom:1px dotted
}
.b-hotel-rating__count {
  display:block;
  padding:3px 5px;
  font-size:9px;
  line-height:10px;
  color:#6f6f6f
}
.b-hotel-rating__detailed {
  display:none;
  position:absolute;
  top:100%;
  right:0;
  left:50px;
  background:#e8ebef;
  border:1px solid rgba(0, 0, 0, 0.025);
  border-top:0 none;
  border-radius:0 0 2px 2px;
  z-index:1
}
.b-hotel-rating__parameter {
  overflow:hidden;
  padding:0 10px;
  font-size:11px;
  line-height:18px
}
.b-hotel-rating__parameter_odd {
  background:#eef0f3
}
.b-hotel-rating__parameter-val {
  float:right;
  font-weight:bold
}
.b-hotel-rating__inner:hover {
  -webkit-border-radius:2px 2px 0 2px;
  border-radius:2px 2px 0 2px
}
.b-hotel-rating__inner:hover .b-hotel-rating__detailed {
  display:block
}
