<b:style src="room.css"/>
<table class="b-hotel-room b-hotel-room_order_first b-hotel-room_has_details">
  <tbody>
    <tr class="b-hotel-room__row">
      <td class="b-hotel-room__desc" rowspan="1">
          <div class="b-hotel-room__desc-inner">
              <div class="b-hotel-room__desc-popup clearfix" event-click="toggle">
                  <img class="b-hotel-room__thumbnail" src="http://ostrovok-st.ngenix.net/t/100x100/extranet/media/dc0e14ea8220495fbe2c631ea432890f.jpg" alt="{name}"/>                 
                  <h4 class="b-hotel-room__title">
                    {name}
                  </h4>
                  <p class="b-hotel-room__short-desc">{description}</p>
                  <div class="b-hotel-room__area">{size} м<sup class="b-hotel-room__area-square">2</sup></div>
              </div>
          </div>
      </td>
      <td class="b-hotel-room__rate">
        <div class="b-hotel-room-conditions b-hotel-room__cell b-hotel-room-conditions_with-icons">

          <div class="b-hotel-room-conditions__amenities">
            <p class="b-hotel-room-conditions__amenity">
              <span class="b-amenity-icon b-amenity-icon_has_wifi_access"></span>
              <span class="b-hotel-room-conditions__amenity-title">Бесплатный беспроводной интернет в номере</span>
            </p>
          </div>

          <div class="b-hotel-room-conditions__cancellation b-hotel-room-conditions__cancellation_refund_yes">
            <span class="b-hotel-room-conditions__cancellation-title">Бесплатная отмена бронирования до 3 марта!</span>
            <span class="b-hotel-room-conditions__cancellation-desc">До <strong>3 марта 2013 20:59</strong>* отмена бронирования производится бесплатно.<br/>С <strong>3 марта 2013 21:00</strong>* при отмене и в случае незаезда отель взимает штраф в размере 1 ночи.<br/><br/><p>* указано московское время</p></span>
          </div>
        </div>

        <div class="b-hotel-room-proceed b-hotel-room__cell">
          <a class="button b-hotel-room-proceed__btn small" href="/orders/reserve/356ff855-fcbf-59e4-9dfe-38bfcd1a17c3/">
            <b class="b-button__inner">
              <i class="b-button__text">Забронировать</i>
            </b>
          </a>

          <div class="b-hotel-room-proceed__multibooking clearfix">
              <div class="b-hotel-room-proceed__multibooking-input-wrapper">
                  <span class="b-numeric-control-modify-wrapper">
                    <span class="b-numeric-control-modify b-numeric-control-modify_increase">
                        <span class="b-numeric-control-modify_increase-inner">+</span>
                    </span>
                    <input class="b-hotel-room-proceed__multibooking-input" type="text" value="0" autocomplete="off" data-hash="356ff855-fcbf-59e4-9dfe-38bfcd1a17c3" max="20"/>
                    <span class="b-numeric-control-modify b-numeric-control-modify_decrease b-numeric-control-modify_disabled">
                      <span class="b-numeric-control-modify_decrease-inner">-</span>
                    </span>
                  </span>
              </div>
              <div class="b-hotel-room-proceed__multibooking-label">
                  номеров
              </div>
          </div>

          <small class="b-hotel-room-proceed__fast-confirmation">Моментальное подтверждение</small>
        </div>

        <div class="b-hotel-room-price b-hotel-room__cell">
          <div class="b-hotel-room-price__inner">
              <div class="b-hotel-room-price__value-wrapper">
                <b class="b-hotel-room-price__value">{total_rate}</b>
                <b class="b-hotel-room-price__currency b-hotel-room-price__currency_small">руб.</b>
              </div>

              <div class="b-hotel-room-price__popup">
                  <div class="b-hotel-room-price__average">
                      Средняя цена<br/>за ночь <span class="b-hotel-room-price__average-value">270 €</span>
                  </div>

                  <div class="b-hotel-room-price__details-title">Детализация стоимости</div>

                  <ul class="b-hotel-room-price__details">
                
                          <li class="b-hotel-room-price__details-param">
                              4 марта,
                              пн
                              <span class="b-hotel-room-price__details-value">
                                  270.00
                                  €
                              </span>
                          </li>
                
                          <li class="b-hotel-room-price__details-param">
                              5 марта,
                              вт
                              <span class="b-hotel-room-price__details-value">
                                  270.00
                                  €
                              </span>
                          </li>
                
                          <li class="b-hotel-room-price__details-param">
                              6 марта,
                              ср
                              <span class="b-hotel-room-price__details-value">
                                  270.00
                                  €
                              </span>
                          </li>
                
                          <li class="b-hotel-room-price__details-param">
                              7 марта,
                              чт
                              <span class="b-hotel-room-price__details-value">
                                  270.00
                                  €
                              </span>
                          </li>
                  </ul>
              </div>
          </div>

          <div class="b-compare-control" data-room-hash="356ff855-fcbf-59e4-9dfe-38bfcd1a17c3">
              <a class="b-compare-control__add" href="#">Добавить к сравнению</a>
          </div>

        </div>
      </td>
    </tr>
    <tr>
      <td class="b-hotel-room-details b-hotel-room-details_state_{visible}" colspan="2">
        <div class="b-hotel-room-details__wrapper">
          <span class="b-hotel-room-details__toggle" event-click="toggle">
            <span class="b-hotel-room-details__toggle-inner">в номере</span>
          </span>

          <div class="b-hotel-room-details__inner">
            <div class="b-hotel-room-details__photos">
              <!--{slider}-->
            </div>            
            <!--{amenities}-->
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>