<span>
  <div><a class="b-search-info__serp-link" title="" event-click="showHotels" href="#{viewallHref}">{viewallText}</a></div>
  <span class="b-search-info__guests-number">{l10n:app.module.hotel.settings.for} {adultsCount} {adultsText} <span class="b-search-info__details_children {hasChildren}">{l10n:app.module.hotel.settings.and}&nbsp;{childrenCount} {childrenText}</span></span>
  <span class="dates"> {l10n:app.module.hotel.settings.from} {arrivalDate} {arrivalMonth} {l10n:app.module.hotel.settings.till} {departureDate} {departureMonth}</span>
</span>