
  label, input[type="button"], input[type="submit"], input[type="image"], button {
    cursor:pointer
  }
  sup {
    vertical-align:text-top
  }
  sub {
    vertical-align:text-bottom
  }
  h3 {
    font-weight:bold;
    font-size:20px;
    color:#074386;
    margin-bottom:10px
  }
  h6 sub {
    color:#bbd9ff;
    vertical-align:baseline;
    font-size:14px;
    font-weight:normal
  }
  form ul {
    font-size:14px
  }
  form li label {
    font-weight:bold;
    display:block;
    margin-bottom:4px
  }
  form .button {
    text-align:center
  }
  button {
    font-family:Helvetica, Arial, FreeSans, sans-serif;
    cursor:pointer
  }
  .layout-content {
    padding:15px;
    position:relative
  }
  h2{
    text-align:left;
    padding:0;
    color:#061424;
    margin-top:0;
    margin-bottom:10px;
    padding-bottom:0;
    font-size:24px;
    background:0;
    position:relative
  }
  h3 {
    color:#3c5775;
    margin:30px 0 7px 0;
    font-size:16px
  }
  @-webkit-keyframes simpleRotate {
    0% {
      -webkit-transform:rotate(0deg)
    }
    100% {
      -webkit-transform:rotate(360deg)
    }
  }
  @-moz-keyframes simpleRotate {
    0% {
      -moz-transform:rotate(0deg)
    }
    100% {
      -moz-transform:rotate(360deg)
    }
  }
  @keyframes simpleRotate {
    0% {
      transform:rotate(0deg)
    }
    100% {
      transform:rotate(360deg)
    }
  }
  form li div {
    padding:7px 12px
  }
  .b-amenity-icon {
    width:16px;
    height:16px;
    display:inline-block;
    vertical-align:top;
    position:relative;
    background:url(http://ostrovok.ru/st/gm/img/hotel_icons-0520f9db951e2c7ae6df6735a24dd379d4339011.png) no-repeat -147px -139px
  }
  .b-amenity-icon_has_fitness_facility{
    background-position:-167px -117px
  }
  .b-amenity-icon_has_parking{
    background-position:-65px -121px
  }
  .b-amenity-icon_has_pool {
    background-position:-106px -118px
  }
  .b-amenity-icon_has_wifi_access{
    background-position:-1px -118px
  }
  .b-amenity-icon_has_meal {
    background-position:-228px -118px
  }
  .b-amenity-icon_has_common_info {
    background-position:-164px -142px
  }
  .b-amenity-icon_has_busyness {
    background-position:-65px -143px
  }
  .b-amenity-icon_has_extra_service {
    background-position:-147px -139px
  }
  .b-amenity-icon_has_kids_allowed {
    background-position:-44px -145px
  }
  .b-amenity-icon_has_barber_shop {
    background-position:-187px -142px
  }
  .b-amenity-icon_has_cardio {
    background-position:-43px -163px
  }
  .b-amenity-icon_has_extra_info {
    background-position:-87px -163px
  }
  .b-amenity-icon_has_card_acceptance{
    background-position:-107px -164px
  }
  .heading_requestParams_searchInfo_requestDetails {
    position:relative;
    float:left;
    padding:0;
    z-index:30
  }
  .m-disabled input[type="text"]:hover {
    border-color:#c0c2c6
  }
  .b-hotel-rooms-container {
    clear:both
  }
  @-moz-document url-prefix() {
    }
  .b-hotelpage-min-price {
    min-height:32px;
    color:#8695a6;
    font-size:11px
  }
  .b-hotelpage-min-price__period {
    white-space:nowrap
  }
  .b-hotelpage-min-price__value {
    color:#333;
    font-weight:bold;
    font-size:26px
  }
  .b-stars, .b-stars__val {
    height:10px;
    display:inline-block
  }
  .b-stars {
    width:50px;
    position:relative;
    vertical-align:top
  }
  .b-stars__val {
    position:absolute;
    top:0;
    left:0;
    background:url(http://ostrovok.ru/st/gm/img/hotel_icons-0520f9db951e2c7ae6df6735a24dd379d4339011.png) 0 -30px
  }
  .b-stars, .b-stars__val {
    height:10px;
    display:inline-block
  }
  .b-stars {
    width:50px;
    position:relative;
    vertical-align:top
  }
  .b-stars__val {
    position:absolute;
    top:0;
    left:0;
    background:url(http://ostrovok.ru/st/gm/img/hotel_icons-0520f9db951e2c7ae6df6735a24dd379d4339011.png) 0 -30px
  }
  .b-stars_val_10 .b-stars__val {
    width:10px
  }
  .b-stars_val_20 .b-stars__val {
    width:20px
  }
  .b-stars_val_30 .b-stars__val {
    width:30px
  }
  .b-stars_val_40 .b-stars__val {
    width:40px
  }
  .b-stars_val_50 .b-stars__val {
    width:50px
  }
  .b-hotelpage__header {
    padding-left:225px
  }
  .b-hotelpage__title {
    display:inline;
    position:relative;
    margin-top:0;
    margin-bottom:10px;
    padding:0;
    font-size:24px;
    text-align:left;
    color:#061424;
    background:0
  }
  .l-hotelpage__header-inner {
    width:510px;
    float:left;
    min-height:60px
  }
  .b-hotelpage__address {
    color:#8695a6;
    font-size:11px
  }
  .b-hotelpage__address-big-map-trigger {
    color:#386095;
    border-bottom:1px dotted;
    cursor:pointer
  }
  .l-hotelpage__header-sidebar {
    float:right;
    text-align:right
  }
  .b-hotelpage-content-switch {
    clear:both;
    border-bottom:1px dotted #c0c0c0;
    padding-top:10px
  }
  .b-hotelpage-content-switch__item {
    padding:7px 10px;
    display:inline-block;
    font-size:13px;
    color:#004ea5;
    cursor:pointer
  }
  .b-hotelpage-content-switch__item_state_active {
    background:#dcdcdc;
    cursor:default
  }
  .b-hotelpage-content-switch__item-name {
    border-bottom:1px dotted
  }
  .b-hotelpage-content-switch__item_state_active .b-hotelpage-content-switch__item-name {
    border-bottom:0;
    text-shadow:0 1px 0 rgba(255, 255, 255, 1);
    color:#000
  }
  .l-hotelpage-content {
    border-bottom:1px solid #e8e8e8;
    margin-bottom:25px
  }
  .l-hotelpage-content-right {
    width:735px;
    float:right;
    padding-top:10px
  }
  .b-hotelmap {
    display:none
  }
   .b-hotelpage__notice{
    margin-top:5px;
    color:#8695a6;
    font-size:11px;
    line-height:14px
  }
  .b-hotel-rooms__final-price-tip {
    display:none
  }
  .b-hotelpage__header {
    padding-left:0
  }
  .heading_requestParams_searchInfo_requestDetails {
    margin-top:9px
  }
  .l-hotelpage__header-sidebar {
    width:auto;
    margin-top:-15px;
    font-family:Arial, sans-serif
  }
  .b-hotelpage-min-price, .b-hotelpage-min-price-btn {
    display:inline-block;
    vertical-align:bottom
  }
  .b-hotelpage-min-price {
    margin-right:6px;
    font-size:12px
  }
  .b-hotelpage-min-price__from {
    line-height:12px
  }
  .b-hotelpage-min-price__value {
    font-size:24px
  }
  .b-hotelpage-min-price__currency {
    font-size:10px;
    text-transform:uppercase
  }
  .b-hotelpage-min-price__period {
    display:block
  }
  .l-hotelpage-content {
    border-bottom:0
  }
  .l-hotelpage-content-right {
    float:none;
    width:auto
  }
  .l-hotelpage-content {
    margin-bottom:26px
  }
  .b-hotelpage-content-switch {
    border-bottom:1px solid #e1e1e2
  }
  .b-hotelpage-content-switch__item {
    display:block;
    float:left
  }
  .b-hotelpage-content-switch__item:hover {
    background:#e8e8e8
  }
  .b-hotelpage-content-switch__item_state_active, .b-hotelpage-content-switch__item_state_active:hover {
    background:#dcdcdc
  }
  .b-hotelpage-content-switch__item_state_active .b-hotelpage-content-switch__item-name {
    color:#333
  }
  .b-hotelpage-content-switch__item-icon {
    display:inline-block;
    margin-right:3px
  }
  .b-hotelpage-content-switch__item_id_photos .b-hotelpage-content-switch__item-icon {
    vertical-align:top;
    width:17px;
    height:13px;
    background:transparent url('http://ostrovok.ru/st/gm/img/sprites/hotelpage-tabs-229bc01d1120c6d2dba37fd58096c9ede15135a8.png') no-repeat 0 -51px;
    -webkit-background-size:19px 90px;
    background-size:19px 90px
  }
  .b-hotelpage-content-switch__item_id_map .b-hotelpage-content-switch__item-icon {
    margin-top:-2px;
    margin-bottom:-5px;
    width:12px;
    height:19px;
    background:transparent url('http://ostrovok.ru/st/gm/img/sprites/hotelpage-tabs-229bc01d1120c6d2dba37fd58096c9ede15135a8.png') no-repeat 0 -19px;
    -webkit-background-size:19px 90px;
    background-size:19px 90px
  }
  .b-hotelpage-content-switch__item_id_reviews .b-hotelpage-content-switch__item-icon {
    vertical-align:top;
    margin-top:1px;
    font-size:7px;
    line-height:10px;
    text-align:center;
    color:#f5f5f6;
    width:19px;
    height:13px;
    background:transparent url('http://ostrovok.ru/st/gm/img/sprites/hotelpage-tabs-229bc01d1120c6d2dba37fd58096c9ede15135a8.png') no-repeat 0 -77px;
    -webkit-background-size:19px 90px;
    background-size:19px 90px
  }
  .b-hotelpage-content-switch__item_id_photos.b-hotelpage-content-switch__item_state_active .b-hotelpage-content-switch__item-icon {
    width:17px;
    height:13px;
    background:transparent url('http://ostrovok.ru/st/gm/img/sprites/hotelpage-tabs-229bc01d1120c6d2dba37fd58096c9ede15135a8.png') no-repeat 0 -38px;
    -webkit-background-size:19px 90px;
    background-size:19px 90px
  }
  .b-hotelpage-content-switch__item_id_map.b-hotelpage-content-switch__item_state_active .b-hotelpage-content-switch__item-icon {
    width:12px;
    height:19px;
    background:transparent url('http://ostrovok.ru/st/gm/img/sprites/hotelpage-tabs-229bc01d1120c6d2dba37fd58096c9ede15135a8.png') no-repeat 0 0;
    -webkit-background-size:19px 90px;
    background-size:19px 90px
  }
  .b-hotelpage-content-switch__item_id_reviews.b-hotelpage-content-switch__item_state_active .b-hotelpage-content-switch__item-icon {
    width:19px;
    height:13px;
    background:transparent url('http://ostrovok.ru/st/gm/img/sprites/hotelpage-tabs-229bc01d1120c6d2dba37fd58096c9ede15135a8.png') no-repeat 0 -64px;
    -webkit-background-size:19px 90px;
    background-size:19px 90px
  }
  .b-hotelpage-content-switch__item-name {
    color:#2a5894
  }
  .b-hotel-rooms-container {
    margin-bottom:11px
  }
  .b-hotel-description {
    margin-bottom:0
  }
  .b-hotel-description h4{
    color: #333;
    font-size: 16px;
    margin: 30px 0 5px;
    -webkit-font-smoothing: antialiased;    
  }
  .b-hotel-description h4:first-child{
    margin-top: 0;
  }
  .b-hotel-rooms__final-price-tip {
    display:block;
    margin-top:10px;
    font-size:12px;
    color:#919191
  }
  .b-hotel-rooms__final-price-tip-check {
    width:13px;
    height:14px;
    display:inline-block;
    vertical-align:middle;
    margin-top:-7px;
    width:13px;
    height:14px;
    background:transparent url(res/1B2M2Y8AsgTpgAmY7PhCfg.png) no-repeat 0 -8px;
    -webkit-background-size:139px 254px;
    background-size:139px 254px
  }
  .b-hotel-rooms__final-price-tip-title {
    color:#535353
  }
  .b-search-info {
    font-family:Arial, sans-serif
  }
  .b-search-info__serp-link {
    max-width:510px;
    display:inline-block;
    overflow:hidden;
    font-weight:bold;
    font-size:17px;
    line-height:18px;
    text-decoration:none;
    text-overflow:ellipsis;
    white-space:nowrap;
    color:#2a5894;
    border-bottom:1px solid #a4b8cd
  }
  .b-search-info__details {
    margin-top:7px;
    font-size:14px;
    color:#7a8794
  }
  .b-search-info__change-conditions {
    display:inline-block;
    margin-left:5px;
    font-size:12px;
    line-height:13px;
    color:#2a5894;
    border-bottom:1px dotted;
    cursor:pointer
  }
  .b-hotelpage-best-price__container {
    position:relative;
    margin:16px 0 -30px;
    padding-bottom:10px
  }
  .b-hotelpage-best-price {
    display:inline-block;
    font-size:14px;
    line-height:15px;
    color:#6fa02e;
    border-bottom:1px dotted;
    cursor:default
  }
  .b-hotelpage-best-price__tip {
    width:245px;
    display:none;
    position:absolute;
    right:0;
    top:15px;
    margin-top:8px;
    padding:2px 7px;
    font-size:11px;
    line-height:14px;
    text-align:left;
    color:#605f5f;
    cursor:default;
    background:#FFF;
    border:1px solid #c5c5c5;
    -moz-box-shadow:0 2px 3px -1px #bfbfbf;
    box-shadow:0 2px 3px -1px #bfbfbf;
    z-index:2
  }
  .b-hotelpage-best-price__tip:before, .b-hotelpage-best-price__tip:after {
    content:'';
    width:0;
    height:0;
    position:absolute;
    right:68px;
    font-size:0;
    border:6px solid rgba(255, 255, 255, 0.01)
  }
  .b-hotelpage-best-price__tip:before {
    top:-12px;
    border-bottom-color:#c5c5c5
  }
  .b-hotelpage-best-price__tip:after {
    top:-11px;
    border-bottom-color:#fff
  }
  .b-hotelpage-best-price__container:hover .b-hotelpage-best-price__tip {
    display:block
  }
  .b-hotelpage-best-price__paragraph {
    margin:6px 0
  }
  .b-hotelmap {
    position:relative
  }
  .b-call-discount-banner {
    margin:25px 0;
    font-weight:400;
    line-height:42px;
    font-family:'Open Sans', Verdana, sans-serif;
    -webkit-font-smoothing:antialiased;
    background:#fff;
    border:1px solid #ececee;
    border-radius:3px
  }
  .b-call-discount-banner__text, .b-call-discount-banner__img, .b-call-discount-banner__phone {
    vertical-align:middle
  }
  .b-call-discount-banner__text {
    display:inline;
    margin:0 101px 0 17px;
    font-size:20px;
    color:#919191
  }
  .b-call-discount-banner__img {
    width:64px;
    height:62px;
    margin-top:-20px
  }
  .b-call-discount-banner__phone {
    margin-left:14px;
    font-size:28px;
    color:#ff9b00
  }
  .b-hotel-description {
    color:#535353;
    font-family:Arial, sans-serif;
    line-height:145%;
    margin-bottom:25px
  }
  .b-hotel-description p {
    margin-top:5px
  }
  .b-hotel-description em {
    font-weight:bold;
    -webkit-font-smoothing:antialiased
  }
  .b-hotel-description__clip {
    margin-bottom:8px;
    position:relative
  }
  .b-hotel-description__clip-fade {
    display:none;
    background:-webkit-linear-gradient(top, rgba(245, 245, 246, 0) 0, #f5f5f6 100%);
    background:-moz-linear-gradient(top, rgba(245, 245, 246, 0) 0, #f5f5f6 100%);
    background:-ms-linear-gradient(top, rgba(245, 245, 246, 0) 0, #f5f5f6 100%);
    background:-o-linear-gradient(top, rgba(245, 245, 246, 0) 0, #f5f5f6 100%);
    background:linear-gradient(top, rgba(245, 245, 246, 0) 0, #f5f5f6 100%);
    bottom:0;
    height:20px;
    position:absolute;
    width:100%
  }
  .b-hotel-description__expand {
    display:none;
    border-bottom:1px dotted;
    color:#2a5894;
    cursor:pointer;
    font-size:12px;
    line-height:100%;
    margin-top:3px
  }
  .b-hotel-description_need_expander .b-hotel-description__clip {
    overflow:hidden
  }
  .b-hotel-description_need_expander .b-hotel-description__expand {
    display:table
  }
  .b-hotel-description_need_expander .b-hotel-description__clip-fade {
    display:block
  }
  .b-hotel-description_state_expanded .b-hotel-description__clip-fade {
    display:none
  }
  .b-hotel-amenities-list {
    width:100%
  }
  .b-hotel-amenities-list__header, .b-hotel-amenities-list__name {
    text-align:left;
    color:#3e454d
  }
  .b-hotel-amenities-list__header {
    margin:0 0 7px;
    font-size:16px;
    -webkit-font-smoothing:antialiased;
    color:#3e454d
  }
  .b-hotel-amenities-list__name, .b-hotel-amenities-list__desc {
    padding:10px 10px 15px 5px;
    vertical-align:top;
    font-size:13px;
    line-height:150%;
    border-top:1px dashed #aebbcb
  }
  .b-hotel-amenities-list__item_first .b-hotel-amenities-list__name, .b-hotel-amenities-list__item_first .b-hotel-amenities-list__desc {
    border-top:0
  }
  .b-hotel-amenities-list__name {
    min-width:155px;
    padding-left:30px
  }
  .b-hotel-amenities .b-amenity-icon {
    margin:0 5px 0 -25px
  }
  .b-hotel-amenities ul {
    float:left;
    width:33%;
    font-size:13px;
    line-height:145%
  }
  .b-hotel-amenities li {
    margin:5px 25px 15px 0;
    background:url(http://ostrovok.ru/st/gm/img/amenity-59bac026c504cd9b4c915ae15e426ea79612d641.png) no-repeat top left;
    padding-left:22px
  }
  .b-hotel-policy__header {
    margin:1.8em 0 .4em;
    font-size:16px;
    -webkit-font-smoothing:antialiased;
    color:#3e454d
  }
  .b-hotel-policy p {
    margin-top:5px
  }
  .b-hotel-policy .b-hotelpage__notice {
    margin-top:25px
  }
  .b-photogallery {
    cursor:pointer;
    position:relative;
    height:230px;
    background-color:#dcdcdc
  }
  @-moz-document url-prefix() {
    }
  html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    font-size:100%
  }
  html {
    -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
    -webkit-text-size-adjust:100%;
    -ms-text-size-adjust:100%
  }
  article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display:block
  }
  canvas {
    display:inline-block;
    *display:inline;
    *zoom:1
  }
  [hidden] {
    display:none
  }
  img {
    -ms-interpolation-mode:bicubic;
    vertical-align:middle
  }
  svg:not(:root) {
    overflow:hidden
  }
  blockquote, q {
    quotes:none
  }
  blockquote:before, blockquote:after, q:before, q:after {
    content:'';
    content:none
  }
  abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help
  }
  dfn {
    font-style:italic
  }
  table {
    border-collapse:collapse;
    border-spacing:0
  }
  b, strong, i, cite, em, var, dfn {
    text-decoration:none;
    font-weight:normal;
    font-style:normal
  }
  body {
    font:13px/1.231 sans-serif
  }
  ul, ol, li {
    list-style:none;
    list-style-image:none
  }
  button, input, select, textarea {
    width:auto;
    overflow:visible;
    margin:0;
    font-size:100%;
    font-family:sans-serif;
    vertical-align:baseline;
    *vertical-align:middle
  }
  textarea {
    overflow:auto;
    vertical-align:top
  }
  button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance:button
  }
  button, input {
    line-height:normal;
    *overflow:visible
  }
  input[type="checkbox"], input[type="radio"] {
    box-sizing:border-box
  }
  input::-moz-focus-inner, button::-moz-focus-inner {
    border:0;
    padding:0
  }
  legend {
    *margin-left:-7px
  }
  table button, table input {
    *overflow:auto
  }
  
  A{
    color:#0851a3
  }
  A:hover, A:focus{
    color:#006de8
  }
  INPUT[type="button"], INPUT[type="submit"], INPUT[type="image"], BUTTON {
    cursor:pointer
  }
  .clearfix:before, .clearfix:after {
    display:table;
    content:''
  }
  .clearfix:after {
    clear:both
  }
  .layout-wrap {
    min-height:100%;
    min-width:980px;
    height:auto!important;
    height:100%;
    margin:0 auto -93px
  }
  .layout-content {
    width:960px;
    margin:0 auto;
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    box-shadow:none
  }
  input[type="text"], input[type="url"], input[type="number"], input[type="search"], input[type="email"], input[type="password"], input[type="tel"], textarea{
    padding:3px;
    background:#fff;
    border:1px solid #c0c2c6;
    border-radius:4px;
    box-shadow:0 1px 0 0 #fff, 0 1px 1px 0 rgba(0, 0, 0, 0.15) inset
  }
  input[type="text"]:hover, input[type="text"]:active, input[type="text"]:focus, input[type="url"]:hover, input[type="url"]:active, input[type="url"]:focus, input[type="number"]:hover, input[type="number"]:active, input[type="number"]:focus, input[type="search"]:hover, input[type="search"]:active, input[type="search"]:focus, input[type="email"]:hover, input[type="email"]:active, input[type="email"]:focus, input[type="password"]:hover, input[type="password"]:active, input[type="password"]:focus, input[type="tel"]:hover, input[type="tel"]:active, input[type="tel"]:focus, textarea:hover, textarea:active, textarea:focus{
    border-color:#9499a1
  }
  input[disabled]{
    color:#999!important;
    border-color:#c0c2c6!important
  }
  input::-webkit-input-placeholder {
    color:#d0d9e0
  }
  input:-ms-input-placeholder {
    color:#d0d9e0
  }
  input:-moz-placeholder {
    color:#d0d9e0
  }
  input::-webkit-input-placeholder {
    font-style:italic;
    color:#bdbdbd
  }
  input:-ms-input-placeholder {
    font-style:italic;
    color:#bdbdbd
  }
  input:-moz-placeholder {
    font-style:italic;
    color:#bdbdbd
  }
  textarea::-webkit-input-placeholder {
    font-style:italic;
    color:#bdbdbd
  }
  textarea:-ms-input-placeholder {
    font-style:italic;
    color:#bdbdbd
  }
  textarea:-moz-placeholder {
    font-style:italic;
    color:#bdbdbd
  }
  @-moz-document url-prefix() {
    }

  .l-photos-reviews-right
  {
    display: none;
  }
  .b-photos-reviews-wrapper_has_rating .l-photos-reviews-right
  {
    display: block;
  }
  
  .b-photos-reviews-wrapper_has_rating .l-photos-reviews-left {
    width:730px
  }
  .b-photos-reviews-wrapper_has_rating .hp-rv-sidebar-rating-detailed, .b-photos-reviews-wrapper_has_reviews .hp-rv-sidebar-header:hover .hp-rv-sidebar-rating-detailed {
    display:none
  }
  .b-photos-reviews-wrapper_has_rating .l-photos-reviews-left {
    width:730px;
    float:left
  }
  .b-photos-reviews-wrapper_has_rating .l-photos-reviews-left.l-photos-reviews-left_thin {
    width:515px
  }

   .b-photogallery {
    cursor:pointer;
    position:relative;
    height: 230px;
    padding: 10px 10px 0 ;
    background-color:#dcdcdc
  }

  .b-hotel-rooms-heading {
    float:left;
    margin-bottom:5px;
    -webkit-font-smoothing:antialiased;
    color:#3e454d;
    font-size:16px;
    font-weight:bold
  }

  .b-hotel-search-params {
    float:left;
    clear:left;
    margin-bottom:16px;
    padding-right:50px;
    -webkit-font-smoothing:antialiased;
    color:#3e454d;
    font-size:16px;
    font-weight:bold
  }
  .b-hotel-search-params_loading {
    background:url(http://ostrovok.ru/st/gm/img/spinner-grey-3-a9426e4b4d3359105118a907044d68ad76b95034.gif) no-repeat right
  }
  .b-hotel-search-params__guests-number {
    padding-right:6px
  }
  .b-hotel-search-params__adults-number, .b-hotel-search-params__children-number {
    text-align:right;
    width:25px;
    font-weight:bold
  }
  .b-hotel-search-params__change-control {
    border-bottom:1px solid #96bad5;
    color:#215386;
    cursor:pointer;
    font:11px Arial, normal, sans-serif
  }  

  .layout-content-loading
  {
    text-align: center;    
    display: none;
  }
  .layout-content-loading span
  {
    background:url(http://ostrovok.ru/st/gm/img/spinner-grey-3-a9426e4b4d3359105118a907044d68ad76b95034.gif) no-repeat left center;
    padding: 1em 0 1em 40px;
    color: #999;
    font-style: italic;    
  }

  .layout-content-state_processing .layout-content-loading
  {
    display: block;
  }

  .layout-content-state_processing section
  {
    visibility: hidden;
  }

  .b-hotel-search-params .b-search-info__serp-link
  {
    display: none;
  }