<b:style src="view.css"/>

<div class="layout-wrap">
  <!--{header}-->

  <div class="layout-content m-id-hotelpage layout-content_facelift3 layout-content-state_{state}">
    <div class="layout-content-loading"><span>{l10n:app.module.hotel.loading}</span></div>
    <section class="b-hotelpage hotelpage">
      <header class="b-hotelpage__header clearfix" data="LAT">
        <div class="l-hotelpage__header-inner">
          <h1 class="b-hotelpage__title">{name}</h1>
          <span class="b-stars b-stars_val_{stars} b-stars_loc_hotelpage">
            <span class="b-stars__val" data-star-rating="{stars}"></span>
          </span>
          <p class="b-hotelpage__address"> <span class="b-hotelpage__address-big-map-trigger">{address}</span></p>
        </div>
        <div class="l-hotelpage__header-sidebar">
          <p class="b-hotelpage-min-price"> 
            <span class="b-hotelpage-min-price__from">{l10n:app.module.hotel.from} <strong class="b-hotelpage-min-price__value">{low_rate}</strong> <span class="b-hotelpage-min-price__currency">{l10n:app.currency.label.rub}</span>  </span> 
            <small class="b-hotelpage-min-price__period">{l10n:app.module.hotel.night.for} <span class="b-hotelpage-min-price__period-value">{nights} {nightsText}</span></small>
          </p>
          <a class="b-button button-room b-hotelpage-min-price-btn bookroom" href="#gotorooms" id="hpg_gotorooms" event-click="gotorooms"> <b class="b-button__inner"><i class="b-button__text">{l10n:app.module.hotel.book}</i></b>

          </a>
          <div class="b-hotelpage-best-price__container"> <span class="b-hotelpage-best-price">{l10n:app.module.hotel.garant}</span>
            <div class="b-hotelpage-best-price__tip">
              <p class="b-hotelpage-best-price__paragraph">{l10n:app.module.hotel.garantInfo}</p>
            </div>
          </div>
        </div>
        
        <ul class="b-hotelpage-content-switch clearfix">
          <li class="b-hotelpage-content-switch__item b-hotelpage-content-switch__item_id_photos b-hotelpage-content-switch__item_state_active">
          <span class="b-hotelpage-content-switch__item-icon"></span>
          <span class="b-hotelpage-content-switch__item-name">{l10n:app.module.hotel.photos}</span>
          </li>

          <li class="b-hotelpage-content-switch__item b-hotelpage-content-switch__item_id_map">
          <span class="b-hotelpage-content-switch__item-icon"></span>
          <span class="b-hotelpage-content-switch__item-name">{l10n:app.module.hotel.map}</span>
          </li>

                
          <li class="b-hotelpage-content-switch__item b-hotelpage-content-switch__item_id_reviews">
          <span class="b-hotelpage-content-switch__item-icon"></span>
          <span class="b-hotelpage-content-switch__item-name">{l10n:app.module.hotel.reviews}</span>
          </li>
        </ul>
      </header>

      <div class="l-hotelpage-content clearfix">
        <div class="l-hotelpage-content-right">
          <div class="b-photos-reviews-wrapper clearfix b-photos-reviews-wrapper_{has_rating}">
            <div class="l-photos-reviews-left">
              <div class="b-hotel-photos-container">
                <!--{slider}-->
              </div>
            </div>
            <!--{rating}-->
          </div>
          <div class="b-hotelmap " data-map-lat="52.37586" data-map-lng="4.90282" data-hotel-uid="l180653" style="display: block;">
          </div>
        </div>
      </div>  

      <div class="b-giant-change-search-form__wrapper">
        <div class="b-hotel-rooms-heading">{l10n:app.module.hotel.availableRooms}</div>
        <div class="b-hotel-search-params">
          <!--{settings}-->
        </div>
      </div>      

      <!--{infoPages}-->
    </section>
  </div>
</div>

