<b:style src="childrenAgeField.css"/>

<div class="giantform-ages {empty}" style="">
  <div class="giantform-ages-separator">:</div>
  <!--{childNodesHere}-->
  <label class="giantform-label giantform-age-label" for="age1">полный возраст</label>
</div>