.date-picker-popup
{
  border: none !important;
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  z-index: 10000 !important;
  right: 0 !important;
  bottom: 0 !important;
  background: rgba(255,255,255,.5) !important;
}
.date-picker-popup .Basis-Popup-CloseButton {
  background: rgba(0,0,0,.5);
  margin: 20px auto -30px;
  padding: 10px;
  text-align: center;
  width: 50%;
  color: white;
  font-size: 120%;
  cursor: pointer;
  display: block;
}

.date-picker-popup .Basis-Calendar
{
  background: white;
  box-shadow: 1px 1px 5px 2px rgba(0,0,0,.25);
  font-size: 150%;
  margin: 3em auto;
}
.date-picker-popup .Basis-Calendar-SectionTabs
{
  display: none;
}

.date-picker-popup .Basis-Calendar-SectionTitle
{
  background: none;
  padding: 0.8em 0 0.1em;
}

.date-picker-popup .Basis-Calendar-Section
{
  position: static;
}

.date-picker-popup .Basis-Calendar-Body,
.date-picker-popup .Basis-Calendar-Footer
{
  border-color: transparent;
}

.date-picker-popup .Basis-Calendar-Body,
.date-picker-popup .Basis-Calendar-SectionContent
{
  height: auto;
}

.date-picker-popup .Basis-Calendar-SectionTitle
{
  font-weight: bold;
  font-family: Arial;
}

.date-picker-popup .Basis-Calendar-ButtonPrevPeriod, 
.date-picker-popup .Basis-Calendar-ButtonNextPeriod
{
  background: none;
}
.date-picker-popup .Basis-Calendar-ButtonPrevPeriod SPAN, 
.date-picker-popup .Basis-Calendar-ButtonNextPeriod SPAN
{
  visibility: hidden;
}

.date-picker-popup .Basis-Calendar-ButtonNextPeriod SPAN.over,
.date-picker-popup .Basis-Calendar-ButtonPrevPeriod SPAN.over
{
  visibility: visible;
  content: '';
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0;
  cursor: pointer;
  position: absolute;
  top: 12px;
  border: transparent solid 4px;  
}

.date-picker-popup .Basis-Calendar-ButtonNextPeriod SPAN.over
{
  border-left-color: #303030;
  right: 8px;
}
.date-picker-popup .Basis-Calendar-ButtonPrevPeriod SPAN.over
{
  border-right-color: #303030;  
  left: 8px;
}

.date-picker-popup .Basis-Calendar-MonthWeekDays-Day
{
  color: #303030;
  padding: 0.25em 0;
}

.date-picker-popup .Basis-Calendar-MonthWeekDays
{
  margin-bottom: 5px;
}

.date-picker-popup .Basis-Calendar-Node.selected
{
  background: #0a5289 !important;
  color: white;
}
