<b:style src="errorPopup.css"/>

<div class="popuptip popuptip-right mode-{orientation} {anim:visible} {selected} {disabled}" event-click="click">
    <div class="popuptip-pointer"></div>
    <div class="popuptip-icon"></div>
    {l10n:app.view.searchForm.errorPopup.text}
</div>


