.giantform .hidden {
  display: none;
}
.giantform-title {
  color: #424d53;
  font: 300 150% "Open Sans", Verdana, sans-serif;
  margin: .75em 0 .85em;
  text-align: center;
  -webkit-font-smoothing: antialiased;
}
.giantform-form {
  background:#2a66a1 url(http://ostrovok.ru/st/gm/img/main-page-search-form-90a358feb17b855ac435b408322af0e2c501c610.png);
  background:-webkit-radial-gradient(50% 10%, transparent, rgba(0, 0, 0, 0.24)), url(http://ostrovok.ru/st/gm/img/main-page-search-form-90a358feb17b855ac435b408322af0e2c501c610.png) #2a66a1;
  background:-moz-radial-gradient(50% 10%, transparent, rgba(0, 0, 0, 0.24)), url(http://ostrovok.ru/st/gm/img/main-page-search-form-90a358feb17b855ac435b408322af0e2c501c610.png) #2a66a1;
  background:-ms-radial-gradient(50% 10%, transparent, rgba(0, 0, 0, 0.24)), url(http://ostrovok.ru/st/gm/img/main-page-search-form-90a358feb17b855ac435b408322af0e2c501c610.png) #2a66a1;
  background:-o-radial-gradient(50% 10%, transparent, rgba(0, 0, 0, 0.24)), url(http://ostrovok.ru/st/gm/img/main-page-search-form-90a358feb17b855ac435b408322af0e2c501c610.png) #2a66a1;
  background:radial-gradient(50% 10%, transparent, rgba(0, 0, 0, 0.24)), url(http://ostrovok.ru/st/gm/img/main-page-search-form-90a358feb17b855ac435b408322af0e2c501c610.png) #2a66a1;
  color:#96bad5;
  font-family:Arial, sans-serif;
  font-size:11px;
  padding: 26px 14px 20px;
  position:relative;
  overflow: hidden;
}
.giantform-destination {
  margin-bottom:20px;
  position:relative
}
.giantform-label {
  padding: 5px 0 0 9px;
}
.giantform-input {
  background-clip:padding-box;
  border:1px double rgba(0, 0, 0, 0.22);
  border-radius:4px;
  box-shadow:0 1px 0 rgba(255, 255, 255, 0.41), inset 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  color:#303030;
  display:inline-block;
  font-family:Arial, sans-serif;
  font-size:22px;
  -webkit-font-smoothing:antialiased;
  font-weight:bold;
  margin:0;
  padding:6px 8px 5px;
  width:100%;
}
.giantform-destination-input::-webkit-input-placeholder {
  color:#adbcc7;
  font-weight:bold;
  font-style:italic
}
.giantform-destination-input:-moz-placeholder {
  color:#adbcc7;
  font-weight:bold;
  font-style:italic
}
.giantform-destination-input_processing {
  background:white url(http://ostrovok.ru/st/gm/img/spinner_tiny-3308d0411752a814392b9c4867e99471fc9c2b75.gif) 98% center no-repeat
}
.destinationField-state_processing .giantform-destination-clear {
  display: none;
}
.giantform-destination-example-apply {
  border-bottom:dotted 1px;
  margin-left:4px
}
.giantform-destination-clear {
  position:absolute;
  right:10px;
  top:12px;
  background:url(http://ostrovok.ru/st/gm/img/sprite_controls-9764afa45a2c3008a183a6c9eb05243467741d53.png) no-repeat 0 0;
  width:16px;
  height:16px;
  cursor:pointer
}
.giantform-dates {
  margin-bottom:20px
}
.giantform-check-in {
  display: inline-block;
  width: 48%;
  margin-right: 4%;
}
.giantform-check-in-input {
  position: relative;
  z-index: 4
}
.giantform-dates-separator {
  display:inline-block;
  font-size:21px;
  margin:6px 9px 0;
  vertical-align:top
}
.giantform-check-out {
  display:inline-block;
  width: 48%;
}
.giantform-check-out-input {
  position:relative;
  z-index:4
}
.giantform-number {
  display:inline-block;
  margin-bottom:20px
}
.giantform-adults {
  display:inline-block;
  position:relative;
  width:69px
}
.giantform-adults-input {
  text-align:center
}
.giantform-number-separator {
  display:inline-block;
  vertical-align:top;
  font-size:21px;
  margin:7px 9px 0
}
.giantform-children {
  display:inline-block;
  position:relative;
  width:69px
}
.giantform-children-input {
  text-align:center
}
.giantform-children-input_disabled {
  margin:-1px 0 -1px;
  color:#3d7dad;
  background:0;
  border:2px dotted;
  box-shadow:none;
  cursor:pointer
}
.giantform-ages {
  display:inline-block;
  margin-left:3px;
  margin-top:6px;
  margin-bottom:20px
}
.giantform-ages-separator {
  display:inline-block;
  font-size:21px;
  margin:3px 2px 0 0;
  vertical-align:top
}
.giantform-age-input {
  font-size:17px;
  margin-right:2px;
  padding:6px 0 4px;
  text-align:center;
  width:25px
}
.giantform-age-label {
  display:block;
  margin:5px 0 0 1.4em
}
.giantform .pseudo {
  cursor: pointer;
}
