<b:resource src="form.css" />

<div class="giantform giantform-suggest_{loading}">
  <h1 class="giantform-title">{l10n:app.view.searchForm.title}</h1>
  
  <form class="giantform-form" event-submit="kill">
    <div class="giantform-destination">
      <!--{suggestions}-->
      <!--{destinationField}-->
    </div>
    <div class="giantform-dates">
      <div class="giantform-check-in">
        <label class="giantform-label giantform-check-in-label" for="check-in">{l10n:app.view.searchForm.checkIn}</label>
        <!--{arrivalField}-->
      </div>

      <div class="giantform-check-out">
        <label class="giantform-label giantform-check-out-label" for="check-out">{l10n:app.view.searchForm.checkOut}</label>
        <!--{departureField}-->
      </div>
    </div>
    <!--{childrenAgeField}-->
    <!--{submitButton}-->
  </form>
</div>