.submit-button-wrapper {
  padding-top: 2px;
  text-align: center;
}
.submit-button {
  border:1px solid;
  border-radius:3px;
  cursor:pointer;
  display:inline-block;
  font:bold 14px/28px Arial, sans-serif;
  -webkit-font-smoothing:antialiased;
  padding:0 12px;
  position:relative;
  text-decoration:none;
  text-transform:uppercase;
  white-space:nowrap;
  -webkit-user-select:none;
  -moz-user-select:none;
  user-select:none
}
.submit-button:active {
  line-height:26px;
  padding-top:2px
}
.submit-button-orange {
  border-color:#d79d50;
  border-bottom-color:#b7711a;
  border-top-color:#e7b46b;
  box-shadow:0 1px 0 rgba(104, 44, 0, 0.25), inset 0 3px 0 -2px white, inset 0 0 0 1px rgba(255, 222, 0, 0.53);
  color:#5f1d00;
  text-shadow:0 1px rgba(255, 255, 255, 0.6);
  background-image:-webkit-linear-gradient(top, #ffc900, #f28d00);
  background-image:-moz-linear-gradient(top, #ffc900, #f28d00);
  background-image:-o-linear-gradient(top, #ffc900, #f28d00);
  background-image:linear-gradient(to bottom, #ffc900, #f28d00)
}
.submit-button-big {
  font-size:19px;
  height:44px;
  line-height:43px;
  padding:0 4em;
}
.submit-button-big:active {
  height:43px;
  line-height:41px
}
.submit-button-big.submit-button-orange {
  border-color:#2d3841;
  border-bottom-color:#1f262d;
  border-top-color:#364450;
  box-shadow:0 1px 0 rgba(104, 44, 0, 0.25), inset 0 3px 0 -2px white, inset 0 0 0 1px rgba(255, 222, 0, 0.53), 0 0 0 4px rgba(255, 108, 0, 0.24)
}
.submit-button-big.submit-button-orange:hover {
  box-shadow:0 1px 2px rgba(0, 0, 0, 0.35), inset 0 3px 0 -2px white, inset 0 0 0 1px rgba(255, 222, 0, 0.53), 0 0 0 4px rgba(255, 108, 0, 0.24)
}
.submit-button-big.submit-button-orange:active {
  border-bottom-color:#9b9ba1;
  box-shadow:0 0 0 4px rgba(255, 108, 0, 0.24), inset 0 2px 4px rgba(73, 14, 0, 0.5)
}
