.suggest {
  display: none;
  width: 100%;
  box-sizing: border-box;
  position:absolute;
  top:38px;
  left:0;
  background:#fff;
  background-clip:padding-box;
  border:1px solid rgba(0, 0, 0, 0.22);
  border-top:1px solid #ccc;
  border-radius:0 0 4px 4px;
  box-shadow:0 1px 0 rgba(255, 255, 255, 0.41);
  z-index:5
}
.suggest_visible
{
  display: block;
}

.suggest_empty
{
  display: none;
}
