
  <b:resource src="form.css" />

  <div id="searchForm">
    <div class="line">
      <!--{destinationField}-->
    </div>
    <div class="line">
      <!--{arrivalField}-->
      <!--{departureField}-->
    </div>
    <div class="line">
      <input value="2" />
    </div>
    <!--{submitButton}-->
  </div>