
  <b:resource src="form.css" />
  
  <div class="giantform">
    <h1 class="giantform-title">Поиск отелей</h1>
  
    <form class="giantform-form" event-submit="kill">
      <div class="giantform-destination">
        <!--{suggestions}-->
        <!--{destinationField}-->
        <span class="giantform-destination-clear hidden"></span>
        <label class="giantform-label giantform-destination-example" for="destination">Куда вы хотите отправиться? <span class="giantform-destination-example-apply pseudo">Санкт-Петербург</span>, например.</label>
      </div>
      <div class="giantform-dates">
        <div class="giantform-check-in">
          <input name="checkin" class="giantform-input giantform-check-in-input" id="check-in" type="text" value="" autocomplete="off"></input>
          <label class="giantform-label giantform-check-in-label" for="check-in">Заезд</label>
        </div>
        <div class="giantform-dates-separator">–</div>
        <div class="giantform-check-out">
          <input name="checkout" class="giantform-input giantform-check-out-input" id="check-out" type="text" value="" autocomplete="off"></input>
          <label class="giantform-label giantform-check-out-label" for="check-out">Выезд</label>
        </div>
      </div>
      <div class="giantform-number">
        <div class="giantform-adults">
          <span class="numcontrol numcontrol-highlight">
            <span class="numcontrol-decrease" style="-webkit-user-select: none; width: 34px; margin-right: -15px; padding-right: 0px;-webkit-user-select: none; width: 34px; margin-left: -15px; padding-left: 0px;-webkit-user-select: none; width: 0px; margin-right: -1px; padding-right: 0px;-webkit-user-select: none; width: 0px; margin-left: -1px; padding-left: 0px;display: none;display: none;"><span class="numcontrol-decrease-inner">-</span></span>
            <input class="giantform-input giantform-adults-input" id="adults" name="adults" type="text" value="2" autocomplete="off"></input>
            </span>
          <label class="giantform-label giantform-adults-label" for="adults">Взрослых</label>
        </div>
        <div class="giantform-number-separator">и</div>
        <div class="giantform-children">
          <span class="numcontrol">
            <input class="giantform-input giantform-children-input giantform-children-input-disabled" id="children" name="children" type="text" value="0" autocomplete="off"></input></span>
          <label class="giantform-label giantform-children-label" for="children">Детей</label>
        </div>
      </div>
      <div class="giantform-ages" style="">
        <div class="giantform-ages-separator">:</div>
        <input class="giantform-input giantform-age-input" type="text" name="age1" value="7" autocomplete="off" style=""></input>
        <input class="giantform-input giantform-age-input" type="text" name="age2" value="7" autocomplete="off" style=""></input>
        <label class="giantform-label giantform-age-label" for="age1">полный возраст</label>
      </div>
      <!--{submitButton}-->
    </form>
  </div>
  