<b:style src="suggestions.css"/>
<b:define name="visible" type="bool"/>

<div style="-webkit-user-select: none; " class="ac-renderer suggest suggest_{visible} suggest_{empty}">
  <!--{childHodesHere}-->
</div>