<b:style src="suggestionItem.css"/>
<div class="ac-row suggest-rowwrap {selected}" style="-webkit-user-select: none;">
  <div class="suggest-hr suggest-hr-first" style="-webkit-user-select: none;"></div>
  <div class="suggest-group" style="-webkit-user-select: none;">{typeTitle}</div>
  <div class="suggest-row" style="-webkit-user-select: none;">
    <div class="suggest-name" style="-webkit-user-select: none;">{name}</div>
  </div>
</div>