<b:style src="room.css"/>

<div class="hotel-room">
  <div class="hotel-room-wrapper">
    <div class="hotel-room-slider">
      <!--{slider}-->
    </div>
    <div class="hotel-room-content">
      <div class="hotel-room-title">{name}</div>
      <div class="hotel-room-amenities">
        <p>Оплата в отеле</p>
        <p>Бесплатный интернет в номере</p>
        <p>Полный завтрак включен в стоимость номера</p>
        <p>Бесплатная отмена бронирования</p>
      </div>

      <div class="hotel-room-price">
        <span class="hotel-room-price-value">{total_rate}</span> <span class="hotel-room-price-currency">{l10n:app.currency.label.rub}</span>
      </div>
    </div>
  </div>
</div>