<b:resource src="banners.css"/>

<div id="banners">
  <div class="ust-banner">
    <p class="ust-banner-phone">+7 495 539-31-81</p>
    <p class="ust-banner-message">Позвоните нам, мы поможем найти и забронировать отель!</p>
    <div class="ust-banner-person">
      <p class="ust-banner-person-info">Служба
        <br/>поддержки</p>
      <div class="ust-banner-person-pic"></div>
    </div>
    <p class="ust-banner-info">Служба поддержки пользователей не заставит вас долго «висеть» на линии, средняя скорость ответа не превышает 15 секунд.</p>
    <div class="welcomepage-eighteen-plus">18+</div>
  </div>
	
  <a class="mobile-banner external" href="http://ostrovok.ru/ios?utm_content=mobile_app&amp;utm_medium=site&amp;utm_source=main_banner&amp;utm_term=ru" target="_blank" rel="nofollow">
    <div class="mobile-banner-title">Удобное приложение для iPhone</div>
    <p class="mobile-banner-paragraph">Бронируйте отели в любых условиях, через ваш iPhone.</p>
    <div class="mobile-banner-image"></div>
    <div class="mobile-banner-appstore"></div>
    <div class="mobile-banner-appstore-tip">ищите ostrovok</div>
  </a>
</div>
