<b:resource src="banners.css"/>

<div id="banners">
  <div class="ust-banner">
    <p class="ust-banner-phone">+7 495 539-31-81</p>
    <p class="ust-banner-message">{l10n:app.module.morda.banners.b2.title}</p>
    <div class="ust-banner-person">
      <p class="ust-banner-person-info">{l10n:app.module.morda.banners.b2.label1}<br/>{l10n:app.module.morda.banners.b2.label2}</p>
      <div class="ust-banner-person-pic"></div>
    </div>
    <p class="ust-banner-info">{l10n:app.module.morda.banners.b2.info}</p>
    <div class="welcomepage-eighteen-plus">18+</div>
  </div>
	
  <a class="mobile-banner external" href="http://ostrovok.ru/ios?utm_content=mobile_app&amp;utm_medium=site&amp;utm_source=main_banner" target="_blank" rel="nofollow">
    <div class="mobile-banner-title">{l10n:app.module.morda.banners.b1.title}</div>
    <p class="mobile-banner-paragraph">{l10n:app.module.morda.banners.b1.info}</p>
    <div class="mobile-banner-image"></div>
    <div class="mobile-banner-appstore"></div>
    <div class="mobile-banner-appstore-tip">{l10n:app.module.morda.banners.b1.tip}</div>
  </a>
</div>
