<b:resource src="view.css"/>

<div class="serp-fav-counter serp-fav-counter-disabled" aria-disabled="true" aria-checked="false" style="-webkit-user-select: none;">
  <div class="serp-fav-counter-content serp-fav-counter-content-empty">Нет любимых отелей</div>
  <div class="serp-fav-counter-content ">
    Показать <span class="serp-fav-counter-content-number">{count}</span> отелей
  </div>
</div>