<b:resource src="view.css"/>

<div class="serpPage-main serpPage-main_state-{state}">
  <div class="serpControls">
    <!--{stared}-->
    <!--{sorting}-->
  </div>
  <div class="serpPage-main__loading"><span>Терпение, мой друг...</span></div>
  <!--{list}-->
</div>