<b:resource src="view.css"/>

<div class="serpPage-main serpPage-main_state-{state}">
  <div class="serpPage-main__loading"><span>{l10n:app.module.search.hotels.loading}</span></div>
  <!--{list}-->
</div>