
  <div id="searchResult" class="state-{state}">
    <button event-click="page1">page1</button>
    <button event-click="page2">page2</button>
    <div class="loading-label">loading...</div>
    <div{childNodesElement} class="hotels-list" id="sp-hotels-list">
    </div>
  </div>