<b:resource src="list.css"/>

<div class="serpfilter serpfilter-{disabled}">
  <div class="serpfilter-content">
    <div class="serpfilter-amenities">
      <h4 class="serpfilter-title">{l10n:app.module.search.filters.amenities.title}</h4>
      <!--{childNodesHere}-->
    </div>
  </div>
</div>