<b:resource src="item.css"/>

<div class="serpfilter-cities-wrap">
  <label class="serpfilter-cities-label">
    <input type="checkbox" class="serpfilter-cities-checkbox" name="{title}"/>{title}</label><small class="serpfilter-cities-number">{count}</small>
</div>
